{% load static %}

<div class="cta-links-wrap">
    <ul class="cta-links">
        <li>
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="cta-link-icon"><img src="{% static 'images/icon-new-meeting.svg' %}" alt="" /></i>
            <span>New Meeting</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    id="createFreeMeeting"
                    data-account-type="zoom"
                    data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}"                
                >Free Meeting</a>
                <a
                    class="dropdown-item"
                    href="#"
                    id="openPaidMeetingModal"
                    data-account-type="zoom"
                    data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}"
                >Paid Meeting</a>
            </div>
        </li>
        <li>
            {% if user.is_zoom_linked %}
                <a href="{% url 'new-schedule' %}">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
                    <span>Schedule Meeting</span>
                </a>
            {% else %}
                <a href="javascript:void" class="open-zoom-connect">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
                    <span>Schedule Meeting</span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if user.is_zoom_linked %}
                <a href="{% url 'new-lesson' %}">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-new-lesson.svg' %}" alt="" /></i>
                    <span>New Lesson</span>
                </a>
            {% else %}
                <a href="javascript:void" class="open-zoom-connect">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
                    <span>New Lesson</span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if user.is_zoom_linked %}
                <a href="javascript:void(0)" class="p-coaching" id="personalCoaching">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-personal-coaching.svg' %}" alt="" />
                    {% if user.teacher_profile_data.personal_coaching %}<em class="check-green"><img src="{% static 'images/done.svg' %}" alt="" /></em> {% endif %}
                    </i>
                    <span>Personal Coaching</span>
                </a>
            {% else %}
                <a href="javascript:void(0)" class="p-coaching open-zoom-connect">
                    <i class="cta-link-icon"><img src="{% static 'images/icon-personal-coaching.svg' %}" alt="" />
                    {% if user.teacher_profile_data.personal_coaching %}<em class="check-green"><img src="{% static 'images/done.svg' %}" alt="" /></em> {% endif %}
                    </i>
                    <span>Personal Coaching</span>
                </a>
            {% endif %}
        </li>
    </ul>
</div>