{% load static %}
<!-- Modal -->
<div class="modal fade modal-newmeeting4" id="shareLesson{{ lesson.lesson_uuid }}"  tabindex="-1" aria-labelledby="newmeeting" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="{% static 'images/close.svg' %}" alt="" />
        </button>
        <div class="modal-body">
            <div class="share-modal-wrap">
                <div class="share-modal-left">
                <h3>Share Lesson!</h3>
                <div class="sharecopy-link">
                    <h2>{{lesson.name}}</h2>
                    <div class="sharecopy-inp">
                        <input type="text" class="form-control" placeholder="{{lesson.permalink}}" disabled />
                        <button type="button" class="btn-theme" onclick="copyToClipboard('{{lesson.permalink}}')">Copy</button>
                    </div>
                </div>
                <div class="share-to">
                    <h5>Share to</h5>
                    <p>Sharing your lesson on social media right now will increase bookings</p>
                    <div class="social-icons">
                        <a href="https://api.whatsapp.com/send?text={{lesson.permalink}}" target="_blank"><img src="{% static 'images/whatsapp-icon.svg' %}" alt="" /></a>
                        <a href="https://telegram.me/share/url?url={{lesson.permalink}}&text={{lesson.name}}"  target="_blank"><img src="{% static 'images/telegram-icon.svg' %}" alt="" /></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{lesson.permalink}}" target="_blank"><img src="{% static 'images/facebook-icon.svg' %}" alt="" /></a>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{lesson.permalink}}" target="_blank"><img src="{% static 'images/linkedin-icon.svg' %}" alt="" /></a>
                        <a href="http://twitter.com/share?text={{lesson.name}}&url={{lesson.permalink}}" target="_blank"><img src="{% static 'images/twitter-icon.svg' %}" alt="" /></a>
                        <a href="mailto:?subject={{lesson.name}}&amp;body=Check out Center Stage lesson {{lesson.permalink}}" target="_blank"><img src="{% static 'images/email-icon.svg' %}" alt="" /></a>
                    </div>
                </div>
                </div>
                <div class="share-graphics">
                <img src="{% static 'images/share-graphics.svg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% block script %}
    <script>
    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
    </script>
{% endblock %}