{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard/style.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboard/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'teacher/dashboard/modals.html' %}
<div class="wrapper-main profileInfo-page">
   {% include 'teacher/dashboard/sidebar.html' with activeSection='account-payment' %}
   <div class="main">
      <header class="header">
         <div class="container-fluid">
            <button type="button" class="toggle-menu sidebar-toggle"><img src="{% static 'images/menu-icon.svg' %}" alt="" /></button>
            <div class="header-prof-col">
            </div>
            <div class="header-actions-col">
               <div class="header-actions-icon"><img src="{% static 'images/icon-switch-account.svg' %}" alt="" /></div>
               <div class="header-actions-icon notifications">
                  <div class="icon-notification">
                     <a href="#">
                     <span class="notifaction-badge">4</span>
                     <img src="{% static 'images/icon-notification.svg' %}" alt="">
                     </a>
                  </div>
               </div>
               <div class="header-actions-icon main-profile-menu dropdown">
                  <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/icon-doted.svg' %}" alt="" /></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <ul>
                        <li><a href="{{ user.teacher_profile_data.get_teacher_full_url }}" target="_blank"><i><img src="{% static 'images/dashboard-gray.svg' %}" alt=""></i><span>View My Page</span></a></li>
                        <li><a href="mailto:help@centrestage.live"><i><img src="{% static 'images/email-gray.svg' %}" alt=""></i><span>Contact us</span></a></li>
                        <li><a href="{% url 'faqs' %}"><i><img src="{% static 'images/FAQ-gray.svg' %}" alt=""></i><span>FAQ</span></a></li>
                        <li><a href="#"><i><img src="{% static 'images/logout-gray.svg' %}" alt=""></i><span>Logout</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="main-content pt-0">
         <div class="profile-info-bg"></div>
         <div class="admin-mid-sec container-fluid">
            <div class="profile-info-header">
               <div class="profile-info-col">
                  <div class="profile-image-area">
                     <img class="profile-image" src="{% static 'images/profile-img.jpg' %}" alt="" />
                     <i class="camera"><img src="{% static 'images/camera.png' %}" alt="" /></i>
                  </div>
                  <div class="profile-info-name">
                     <h3>{{user.get_full_name}}</h3>
                     <span class="desigation">{{user.teacher_profile_data.description}}</span>
                     <button type="button" class="edit-btn"><img src="{% static 'images/edit.png' %}" alt="" /></button>
                  </div>
               </div>
            </div>
            <div class="yourac-sec profile-wrap">
               <h2 class="title-2">Payments</h2>
               <div class="profile-wrap-main">
                  <div class="account-left-col">
                     <div class="yourac-wrap payment-actions-wrap">
                        <div class="ac-veryfy-row">
                           <a href="#" class="ac-veryfy-left">
                              <i><img src="{% static 'images/stripe.png' %}" alt="" /></i>
                              <div class="col-text">
                                 <h4>Go To Stripe</h4>
                              </div>
                           </a>
                           <div class="ac-veryfy-right">
                              <div class="custom-radios">
                                 <input type="radio" id="test1" name="radio-group">
                                 <label for="test1"></label>
                              </div>
                              <button type="button" class="btn-liner" data-toggle="modal" data-target="#disconnect">Disconnect</button>
                           </div>
                        </div>
                        <div class="ac-veryfy-row">
                           <a href="#" class="ac-veryfy-left">
                              <i><img src="{% static 'images/paypal.png' %}" alt="" /></i>
                              <div class="col-text">
                                 <h4>Go To PayPal</h4>
                              </div>
                           </a>
                           <div class="ac-veryfy-right">
                              <div class="radio-action">
                                 <div class="custom-radios">
                                    <input type="radio" id="test2" name="radio-group">
                                    <label for="test2"></label>
                                 </div>
                              </div>
                              <button type="button" class="btn-liner">Disconnect</button>
                           </div>
                        </div>
                        <div class="ac-veryfy-row">
                           <a href="#" class="ac-veryfy-left">
                              <i><img src="{% static 'images/card.png' %}" alt="" /></i>
                              <div class="col-text">
                                 <h4>Go To Bank Account</h4>
                              </div>
                           </a>
                           <div class="ac-veryfy-right">
                              <div class="radio-action">
                                 <div class="custom-radios">
                                    <input type="radio" id="test3" name="radio-group">
                                    <label for="test3"></label>
                                 </div>
                              </div>
                              <button type="button" class="btn-liner" data-toggle="modal" data-target="#bank">Connect</button>
                           </div>
                        </div>
                     </div>
                     <div class="tansc-text">
                        View our <a href="{% url 'privacy-policy' %}">Privacy Policy</a>, <a href="{% url 'terms-and-conditions' %}">Terms &amp; Conditions</a> or <a href="{% url 'faqs' %}">FAQ</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
