<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Center Stage</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/media.css" rel="stylesheet">
   </head>
   <body>
      <!-- Modal -->
      <div class="modal fade modal-finish" id="Publish" tabindex="-1" aria-labelledby="PublishLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <img src="images/close.svg" alt="" />
               </button>
               <div class="modal-body text-center">
                  <div class="finish-graphics">
                     <img src="images/finish-graphics.svg" alt="" />
                  </div>
                  <h2>Thank you for completing your lesson</h2>
                  <h3>How was your overall experience?</h3>
                  <div class="rating-row">
                     <a href="#"><img src="images/rating-fill.svg" alt="" /></a>
                     <a href="#"><img src="images/rating-fill.svg" alt="" /></a>
                     <a href="#"><img src="images/rating-fill.svg" alt="" /></a>
                     <a href="#"><img src="images/rating-blank.svg" alt="" /></a>
                     <a href="#"><img src="images/rating-blank.svg" alt="" /></a>
                  </div>
                  <div class="form-group">
                     <div class="liner-inp"> 
                        <input type="text" class="form-control" placeholder="Your Feedback">
                     </div>
                  </div>
                  <div class="finish-btn-area">
                     <button type="button" class="btn btn-primary btn-lg btn-theme" data-toggle="modal" data-target="#share"><span>Finish</span> <i><img src="images/next.svg" alt="" /></i></button>
                     <button type="button" class="btn btn-primary btn-lg btn-theme-liner">Report Issue</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade modal-share" id="share" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <img src="images/close.svg" alt="" />
               </button>
               <div class="modal-body">
                  <div class="share-modal-wrap">
                     <div class="share-modal-left">
                        <h3>Congratulations!</h3>
                        <h4>You have successfully created your lesson</h4>
                        <div class="sharecopy-link">
                           <h2>Core JAVA Development</h2>
                           <div class="sharecopy-inp">
                              <input type="text" class="form-control" placeholder="https://www.centerstage.live/xyzjava/1548fghgytuj" />
                              <button type="button" class="btn-theme">Copy</button>
                           </div>
                        </div>
                        <div class="share-to">
                           <h5>Share to</h5>
                           <p>Sharing your lesson on social media right now will increase bookings</p>
                           <div class="social-icons">
                              <a href="#"><img src="images/whatsapp-icon.svg" alt="" /></a>
                              <a href="#"><img src="images/telegram-icon.svg" alt="" /></a>
                              <a href="#"><img src="images/facebook-icon.svg" alt="" /></a>
                              <a href="#"><img src="images/linkedin-icon.svg" alt="" /></a>
                              <a href="#"><img src="images/twitter-icon.svg" alt="" /></a>
                              <a href="#"><img src="images/email-icon.svg" alt="" /></a>
                           </div>
                        </div>
                        <div class="btn-area mt-5 twobtn-wrap">
                           <button type="button" class="btn btn-theme">Start Now</button>
                        </div>
                     </div>
                     <div class="share-graphics">
                        <img src="images/share-graphics.svg" alt="" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="boarding-sec">
         <div class="host-header">
            <div class="host-header-left">
               <button type="button" class="link-back"><img src="images/back.svg" alt="" /></button> 
               <h2>Host New Lesson</h2>
            </div>
            <div class="board-process">
               <div class="board-num"><span class="active">01</span>/04</div>
               <span class="board-process-txt">Lesson Info</span>
            </div>
         </div>
         <div class="boarding-area">
            <div class="container">
               <div class="boarding-wrap">
                  <div class="title-row">
                     <h2>Session Lesson Preview </h2>
                  </div>
                  <div class="boarding-row">
                     <div class="boarding-left">
                        <div class="form-group">
                           <label>Name your Lesson</label>
                           <div class="content-area">
                              Core JAVA Development
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Lesson Description</label>
                           <div class="content-area">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                              mollit anim id est laborum.
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Number of Participants</label>
                           <div class="content-area">
                              100
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Lesson Language</label>
                           <div class="content-area">
                              <div class="search-tags">
                                 <a href="#" class="tag-link">English</a>
                                 <a href="#" class="tag-link">Spanish</a>
                                 <a href="#" class="tag-link">Hindi</a>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Number of Sessions in Lesson</label>
                           <div class="content-area">
                              5
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Price per Session</label>
                                 <div class="content-area">
                                    $50
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Total Price per Student</label>
                                 <div class="content-area">
                                    $250
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Lesson Availability</label>
                           <div class="content-area">
                              Public
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Lesson Image</label>
                                 <div class="lession-img-video">
                                    <img src="images/img01.jpg" alt="" />
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Lesson Video</label>
                                 <div class="lession-img-video">
                                    <img src="images/video-img.jpg" alt="" />
                                    <span class="path-text mt-2">www.youtube.com/loremipsum/125re78trgdf</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>What Your Students Will Learn</label>
                           <div class="content-area">
                              <ul class="listStyle">
                                 <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
                                 <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</li>
                                 <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</li>
                                 <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</li>
                                 <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
                                 <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Lesson Requirements</label>
                           <div class="content-area">
                              <ul class="listStyle">
                                 <li>Prior knowledge of JAVA</li>
                                 <li>laptop</li>
                                 <li>GitHub Account</li>
                              </ul>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>Lesson Reading</label>
                           <div class="content-area">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                              culpa qui officia deserunt mollit anim id est laborum.
                           </div>
                        </div>
                        <div class="btn-area"> 
                           <button type="button" class="btn btn-primary btn-lg btn-theme" data-toggle="modal" data-target="#Publish"><span>Save & Publish</span> <i><img src="images/next.svg" alt="" /></i></button>
                        </div>
                     </div>
                     <div class="boarding-right text-left">
                        <div class="form-group">
                           <div class="cald-right-col">
                              <img src="images/cald-2.png" alt="" />
                           </div>
                           <span class="required-text pl-5">Please select 5 session dates</span>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Start Date</label>
                                 <div class="content-area">
                                    21 Nov 2020
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>End Date</label>
                                 <div class="content-area">
                                    25 Nov 2020
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Google CDN jQuery with fallback to local -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>