{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard/style.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboard/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
.selectct-sessionsNom {display: flex; margin-top:2px; flex-wrap: wrap;}
.select-sessions-col {display: flex;  flex-wrap: wrap;  width: calc(33.333% - 15px); align-self: flex-start; margin:0 15px 15px 0;}
.select-sessions-col:last-child{margin-right: 0px;}
</style>
<div class="boarding-sec">
   <div class="host-header">
      <div class="host-header-left">
         <button type="button" class="link-back"><img src="{% static 'images/back.svg' %}" alt="" /></button> 
         <h2>Host New Lesson</h2>
      </div>
      <div class="board-process">
         <div class="board-num"><span class="active">01</span>/05</div>
         <span class="board-process-txt">Lesson Info</span>
      </div>
   </div>
   <div class="boarding-area">
      <div class="container">
         <div class="boarding-wrap">
            <div class="title-row">
               <h2>Lesson Info</h2>
            </div>
            <div class="boarding-row">
               <div class="boarding-left">
               <form id="step1" action="" method="post">
                  {% csrf_token %}
                  {{ wizard.management_form }}
                  <div class="form-group">
                     <div class="input-area">
                        <label>Name your lesson <span>*</span></label>
                        <div class="liner-inp"> 
                           <input id="lessonName" name="step1-name" type="text" class="form-control" placeholder="Lesson name" value="{{ wizard.form.name.value|default_if_none:'' }}" />
                        </div>
                        <p id="lessonNameError" style="color:red;"></p>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-area">
                        <label>Lesson Description <span>*</span></label>
                        <div class="liner-inp"> 
                           <input id="lessonDescription" name="step1-description" type="text" class="form-control" placeholder="Description here" value="{{ wizard.form.description.value|default_if_none:'' }}" />
                        </div>
                        <p id="lessonDescriptionError" style="color:red;"></p>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-area">
                        <label>Number of Participants <span>*</span></label>
                        <div class="liner-select-drop">
                           <select id="lessonNoOfParticipants" name="step1-no_of_participants" class="form-control">
                              <option value="none">Select Number of Participants</option>
                              <option value="200" {% if wizard.form.no_of_participants.value == "200" %}selected{% endif %}>200</option>
                              <option value="300" {% if wizard.form.no_of_participants.value == "300" %}selected{% endif %}>300</option>
                              <option value="400" {% if wizard.form.no_of_participants.value == "400" %}selected{% endif %}>400</option>
                           </select>
                        </div>
                        <p id="lessonNoOfParticipantsError" style="color:red;"></p>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-area">
                        <label>Lesson Language <span>*</span></label>
                        <div class="liner-select-drop">
                           <select id="lessonLanguage" name="step1-language" class="form-control">
                              <option value="none">Set language</option>
                              <option value="english" {% if wizard.form.language.value == "english" %}selected{% endif %}>English</option>
                              <option value="hindi" {% if wizard.form.language.value == "hindi" %}selected{% endif %}>Hindi</option>
                           </select>
                        </div>
                        <p id="lessonLanguageError" style="color:red;"></p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Number of Sessions in Lesson <span>*</span></label>
                     <input id="no_of_sessions" type="hidden" name="step1-lesson_type" value="{{wizard.form.lesson_type.value|default_if_none:'single'}}">
                     <p id="lessonTypeError" style="color:red;"></p>
                     <div class="selectct-sessionsNom" id="lessonType" >
                        <div class="select-sessions-col">
                           <button id="singleSession" type="button" class="btn-select-session {% if wizard.form.lesson_type.value == None or wizard.form.lesson_type.value == 'SINGLE' %}selected{% endif %}" data-lesson-type="SINGLE">Single Session</button>
                           <span class="select-session-text">This is a one time class</span>
                        </div>
                        <div class="select-sessions-col">
                           <button id="multiSession" type="button" class="btn-select-session {% if wizard.form.lesson_type.value == 'MULTI' %}selected{% endif %}" data-lesson-type="MULTI">Multi Sessions</button>
                           <span class="select-session-text">This lesson will have a fixed start and end date</span>
                        </div>
                        <div class="select-sessions-col">
                           <button id="ongoingSession" type="button" class="btn-select-session {% if wizard.form.lesson_type.value == 'ONGOING' %}selected{% endif %}" data-lesson-type="ONGOING">Ongoing</button>
                           <span class="select-session-text">This is a recurring lesson with no end date. Students can drop out or cancel at any time</span>
                        </div>
                     </div>
                  </div>
                  <div class="btn-area"> 
                     <button id="lcs1Proceed" type="button" class="btn btn-primary btn-lg btn-theme"><span>Proceed</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i></button>
                  </div>
               </form>
               </div>
               <div class="boarding-right">
                  <img src="{% static 'images/video-graphic.svg' %}" alt="" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static '/js/lesson/step1.js' %}" type="text/javascript"></script> 
{% endblock %}
