{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard/style.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboard/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade modal-booking" id="newmeeting" tabindex="-1" aria-labelledby="newmeeting" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="{% static 'images/close.svg' %}" alt="" />
          </button>
          <div class="modal-body">
            <div class="share-modal-wrap">
                <div class="share-modal-left">
                  <h3>Thank you for booking!</h3>
                  <h4>We will send you a confirmation shortly with your <br />
                      meeting details
                  </h4>
                  <div class="sharecopy-link">
                    <h2>{{lesson.name}}</h2>
                    <div class="sharecopy-inp">
                        <input type="text" class="form-control" placeholder="{{lesson.meeting_link}}" disabled />
                        <button type="button" class="btn-theme" onclick="copyToClipboard('{{lesson.meeting_link}}')">Copy</button>
                    </div>
                  </div>
                  <div class="share-to">
                      <h5>Share to</h5>
                      <div class="social-icons">
                        <a href="#"><img src="{% static 'images/whatsapp-icon.svg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'images/telegram-icon.svg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'images/facebook-icon.svg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'images/linkedin-icon.svg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'images/twitter-icon.svg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'images/email-icon.svg' %}" alt="" /></a>
                      </div>
                  </div>
                  <div class="share-to">
                      <h5>How was your overall booking process experience?</h5>
                      <div class="rating-row">
                        <a href="#"><img src="{% static 'images/rating-fill.svg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/rating-fill.svg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/rating-fill.svg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/rating-blank.svg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/rating-blank.svg' %}" alt=""></a>
                      </div>
                  </div>
                  <div class="btn-area mt-5 twobtn-wrap">
                    <a href="/">
                      <button type="submit" class="btn btn-theme pl-5 pr-5">Submit</button>
                    </a>
                  </div>
                </div>
                <div class="share-graphics">
                  <img src="{% static 'images/share-graphics.svg' %}" alt="" />
                </div>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="boarding-sec">
   <div class="host-header">
      <div class="host-header-left">
         <h2>Lesson Successfully Booked</h2>
      </div>
   </div>
   <div class="host-header">
      <div class="host-header-left">
         <p><strong id="redirectionMessage"></strong></p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static '/js/booking/done.js' %}" type="text/javascript"></script>
    <script>
    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
    </script>
{% endblock %}