{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/booking/style.css' %}" rel="stylesheet">
<link href="{% static '/css/booking/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper-main paddtb-4">
    <div class="container">
      <div class="top-section">
          <div class="host-header-left">
            <button type="button" class="link-back"><img src="{% static 'images/back.svg' %}" alt="" /></button> 
            {% if lesson.no_of_participants > 1 %}
                <h2>Book Group Lesson</h2>
            {% else %}
                <h2>Book One on One Lesson</h2>
            {% endif %}
          </div>
      </div>
      <form id="payment" action="" method="post">
      {% csrf_token %}
      {{ wizard.management_form }}
      <div class="page-wrap d-flex mt-4">
          <div class="page-left-area">
            <div class="lessons-wrap">
                <h2 class="lession-title">Confirm &amp; Pay</h2>
                <div class="content-area mb-5">
                  Thank you for your interest in this lesson. Please note that you will need an active internet connection with audio and video facility to participate. 
                  For details about our policies, please <a href="#"> click here</a>
                </div>
                <div class="yourac-wrap payment-actions-wrap">
                  <h3>Payment Method</h3>
                <p id="paymentMethodError" style="color:red;"></p>
                  <input id="paymentType" name="payment-payment_type" type="text" style="display:none">
                  <div class="ac-veryfy-row">
                      <a href="#" class="ac-veryfy-left">
                        <i><img src="{% static 'images/internet-banking.png' %}" alt="" /></i>
                        <div class="col-text">
                            <h4>Internet Banking</h4>
                        </div>
                      </a>
                      <div class="ac-veryfy-right">
                        <div class="custom-radios">
                            <input type="radio" id="test1" class="payment-type " name="radio-group" data-payment-type="INTERNET_BANKING">
                            <label for="test1"></label>
                        </div>
                      </div>
                  </div>
                  <div class="ac-veryfy-row">
                      <a href="#" class="ac-veryfy-left">
                        <i><img src="{% static 'images/card.png' %}" alt="" /></i>
                        <div class="col-text">
                            <h4>Debit / Credit Card</h4>
                        </div>
                      </a>
                      <div class="ac-veryfy-right">
                        <div class="custom-radios">
                            <input type="radio" class="payment-type" name="radio-group" id="watch-me" data-payment-type="DEBIT_CREDIT_CARD">
                            <label for="watch-me"></label>
                        </div>
                      </div>
                      <div class="card-details" id='show-me'>
                        <h5>Saved Cards</h5>
                        <div class="saved-card-wrap">
                            <div class="saved-card-row">
                              <div class="card-type">
                                  <img src="{% static 'images/visa-icon.svg' %}" alt="" />
                              </div>
                              <div class="card-number">1234 XXXX XXXX 1598</div>
                              <div class="card-cvv">
                                  <input class="cvv-input" type="text" placeholder="CVV">
                              </div>
                            </div>
                            <div class="saved-card-row">
                              <div class="card-type">
                                  <img src="{% static 'images/visa-icon.svg' %}" alt="" />
                              </div>
                              <div class="card-number">1234 XXXX XXXX 1598</div>
                              <div class="card-cvv">
                                  <input class="cvv-input" type="text" placeholder="CVV">
                              </div>
                            </div>
                        </div>
                        <h5>Card Details</h5>
                        <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                  <label>Card Number</label>
                                  <div class="liner-inp"><input type="text" class="form-control" placeholder="Card Number"></div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                  <label>Name on Card</label>
                                  <div class="liner-inp"><input type="text" class="form-control" placeholder="Name"></div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                  <label>Expiry Date</label>
                                  <div class="liner-inp"><input type="text" class="form-control" placeholder="-- --  /  -- -- -- --"></div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                  <label>CVV</label>
                                  <div class="liner-inp"><input type="password" class="form-control" placeholder="CVV"></div>
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="ac-veryfy-row">
                      <a href="#" class="ac-veryfy-left">
                        <i><img src="{% static 'images/wallet.png' %}" alt="" /></i>
                        <div class="col-text">
                            <h4>Payment Wallet</h4>
                        </div>
                      </a>
                      <div class="ac-veryfy-right">
                        <div class="custom-radios">
                            <input type="radio" class="payment-type" id="test111" name="radio-group" data-payment-type="PAYMENT_WALLET">
                            <label for="test111"></label>
                        </div>
                      </div>
                  </div>
                  <div class="ac-veryfy-row">
                      <a href="#" class="ac-veryfy-left">
                        <i><img src="{% static 'images/stripe.png' %}" alt="" /></i>
                        <div class="col-text">
                            <h4>Stripe</h4>
                        </div>
                      </a>
                      <div class="ac-veryfy-right">
                        <div class="custom-radios">
                            <input type="radio" class="payment-type" id="test10" name="radio-group" data-payment-type="STRIPE">
                            <label for="test10"></label>
                        </div>
                      </div>
                  </div>
                  <div class="ac-veryfy-row">
                      <a href="#" class="ac-veryfy-left">
                        <i><img src="{% static 'images/payPal.png' %}" alt="" /></i>
                        <div class="col-text">
                            <h4>PayPal</h4>
                        </div>
                      </a>
                      <div class="ac-veryfy-right">
                        <div class="custom-radios">
                            <input type="radio" class="payment-type" id="test100" name="radio-group" data-payment-type="PAYPAL">
                            <label for="test100"></label>
                        </div>
                      </div>
                  </div>
                </div>
                <p id="paymentMethod2Error" style="color:red;"></p>
                <div class="yourac-wrap">
                  <div class="card-total">
                      Total = <span> {{currency_info.symbol}}{{total_price}} ({{currency_info.label}})</span>
                  </div>
                  <div class="btn-with-condations">
                      <button type="button" class="btn btn-theme" id="confirmPayment">Confirm Payment</button>
                      <div>
                        By confirming, you agree to our <a href="#">Terms & Conditions</a>, <a href="#">Privacy Policy</a>,<br />
                        and <a href="#">Cancellation Policy</a>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="page-right-area">
            <div class="default-box-style">
                <div class="group-row">
                  <h3>{{lesson.name}}</h3>
                  <div class="profimg-name mb-3">
                      <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                      <div class="prof-name">
                        <h4>by {{lesson.creator.user.first_name}} {{lesson.creator.user.last_name}}</h4>
                        <span class="desigation">{{lesson.creator.bio}}</span>
                      </div>
                  </div>
                  <div class="card-total mb-0">
                      Total = <span> {{currency_info.symbol}}{{total_price}} ({{currency_info.label}})</span>
                  </div>
                </div>
                <div class="group-row">
                  <ul class="lessons-steps">
                      {% comment %} <li>
                        <i><img src="{% static 'images/session-number2.png' %}" alt=""></i>
                        <div class="lessons-steps-text">
                            <h4>Session Number</h4>
                            <a href="#">{{ lesson.upcoming_slot.session_no }}</a> <span>Out of {{ lesson.no_of_slots }}</span>
                        </div>
                      </li> {% endcomment %}
                      <li>
                        <i><img src="{% static 'images/hour-glass.png' %}" alt=""></i>
                        <div class="lessons-steps-text">
                            <h4>Session Duration</h4>
                            <span>{{ lesson.upcoming_slot.session_duration }}</span>
                        </div>
                      </li>
                      <li>
                        <i><img src="{% static 'images/webinar.png' %}" alt=""></i>
                        <div class="lessons-steps-text">
                            <h4>Session Type</h4>
                            {% if lesson.no_of_participants > 1 %}
                                <span>Group</span>
                            {% else %}
                                <span>One - on - One</span>
                            {% endif %}
                        </div>
                      </li>
                      <li>
                        <i><img src="{% static 'images/language.png' %}" alt=""></i>
                        <div class="lessons-steps-text">
                            <h4>Session Language</h4>
                            <span>Hosted in {% for language in lesson.language %}{{language}}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                        </div>
                      </li>
                  </ul>
                </div>
                <div class="group-row">
                  {% for slot in selected_time_slots %}
                  <div class="next-session-row">
                      <button type="button" class="edit-btn"><img src="{% static 'images/edit.png' %}" alt=""></button>
                      <h5>Session {{forloop.counter}}</h5>
                      <div class="sessionDayDate">{{slot.3}}</div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="content-area">
                              {{slot.0}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-area">
                              {{slot.1}}
                            </div>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
      </div>
      </form>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static '/js/booking/custom.js' %}" type="text/javascript"></script> 
    <script src="{% static '/js/booking/payment.js' %}" type="text/javascript"></script> 
{% endblock %}
