{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block style %}
<link href="{% static '/css/booking/style.css' %}" rel="stylesheet">
<link href="{% static '/css/booking/media.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade modal-pick-dateTime" id="modal1" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
   <div class="modal-dialog">
      <form id="preview" action="" method="post">
      {% csrf_token %}
      {{ wizard.management_form }}
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <h2>Pick Date &amp; Time</h2>
                <div class="cald-area mb-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Select Date <span class="required">*</span></label>
                                <div class="liner-select-drop">
                                    <input type="text" id="selectDateSlotpicker" name="preview-date_slot">
                                </div>
                                <p id="dateSlotError" style="color:red;"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="select-datetime-dropdown mb-3">
                <select id="timeSlot" class="form-control" name="preview-time_slot">
                    <option value="none">None Selected</option>
                    {% for slot in lesson_time_slots %}
                        <option value="{{ forloop.counter }}">{{ slot.0 }} - {{ slot.1 }} (GMT+5:30)</option>
                    {% endfor %}
                </select>
                    <p id="timeSlotError" style="color:red;"></p>
                </div>
                <div class="custom-check">
                <div class="checkbox">
                    <input id="check" type="checkbox" name="preview-set_to_all_sessions">
                    <label for="check">Set this for all sessions</label>
                </div>
                </div>
                <div class="btn-proceed">
                <button type="button" class="btn btn-primary btn-lg btn-theme" id="proceedBooking"><span>Proceed</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i></button>
                </div>
            </div>
        </div>
      </form>
   </div>
</div>

<div class="modal fade modal-pick-dateTime" id="modal2" tabindex="-1" aria-labelledby="modal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <h2>Selected Sessions</h2>

                <div id="sessionWrapper" class="session-wrapper">
                </div>

                <div class="btn-proceed">
                    <button id="comfirmBooking" type="button" class="btn btn-primary btn-lg btn-theme">
                        <span>Confirm</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->

<div class="modal fade modal-pick-dateTime" id="modal3" tabindex="-1" aria-labelledby="modal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <h2>All Sessions</h2>

                <div id="allSessionWrapper" class="session-wrapper">
                    {% for slot in lesson_time_slots %}
                        <div class="next-session-row">
                            <h5>Session No {{slot.2}}</h5>
                            <div class="sessionDayDate">
                                <i><img src="{% static 'images/time_date.png' %}" alt="" /></i> {{slot.3}}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class="content-area">
                                            {{slot.0}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="content-area">
                                            {{slot.1}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="btn-proceed">
                    <button type="button" class="btn btn-primary btn-lg btn-theme" data-dismiss="modal" aria-label="Close">
                        <span>Close</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->


<div class="wrapper-main paddtb-4">
    <div class="container">
        <input type="text" value="{{BASE_URL}}/lesson/{{lesson.lesson_uuid}}/book" id="copyToShare" disabled style="display:none">
        <div class="top-section">
            {% include '_partials/messages.html' %}
        </div>
        <div class="top-section">
            <div class="host-header-left">
                <button type="button" class="link-back"><img src="{% static 'images/back.svg' %}" alt="" /></button>
                {% if lesson.no_of_participants > 1 %}
                    <h2>Book Group Lesson</h2>
                {% else %}
                    <h2>Book One on One Lesson</h2>
                {% endif %}
            </div>
        </div>

        <div class="page-wrap d-flex mt-4">
            <div class="page-left-area">
                <div class="lessons-wrap">
                    <h2 class="lession-title">{{lesson.name}}</h2>
                    <div class="d-flex mb-5 msgbtnProfile">
                        <div class="profimg-name">
                            <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt="" /></div>
                            <div class="prof-name">
                                <h4>by {{lesson.creator.user.first_name}} {{lesson.creator.user.last_name}}</h4>
                                <span class="lession-time">Published on: {{lesson.created_at}}</span>
                            </div>
                        </div>
                        <div class="dic2">
                            <div class="dic2-col">
                                <i class=""><img src="{% static 'images/rating-fill.svg' %}" alt="" /></i> {{ avg_rating }}
                            </div>
                            <button type="button" class="btn-rounded pl-5 pr-5" onclick="copyToClipboard(window.location.href)">Share</button>
                        </div>
                    </div>

                    <div class="content-area mb-5">
                        {{lesson.description}}
                    </div>

                    <div class="searchresult-row mb-5">
                        <div class="lession-col-left">
                            <img src="{% if lesson.cover_image %} {{ lesson.cover_image}} {% else %}{% static 'images/lession-1.jpg' %} {% endif %}" alt="" />
                        </div>
                        <div class="lession-col-right">
                            <ul class="lessons-steps">
                                <li>
                                    <i><img src="{% static 'images/session-number2.png' %}" alt="" /></i>
                                    <div class="lessons-steps-text">
                                        <h4>Session Number</h4>
                                        <a href="#">{{ lesson.upcoming_slot.session_no }}</a> <span>Out of {{ lesson.no_of_slots }}</span>
                                    </div>
                                </li>
                                <li>
                                    <i><img src="{% static 'images/hour-glass.png' %}" alt="" /></i>
                                    <div class="lessons-steps-text">
                                        <h4>Session Duration</h4>
                                        <span>{{ lesson.upcoming_slot.session_duration }}</span>
                                    </div>
                                </li>
                                <li>
                                    <i><img src="{% static 'images/webinar.png' %}" alt="" /></i>
                                    <div class="lessons-steps-text">
                                        <h4>Session Type</h4>
                                        {% if lesson.no_of_participants > 1 %}
                                            <span>Group</span>
                                        {% else %}
                                            <span>One - on - One</span>
                                        {% endif %}
                                    
                                    </div>
                                </li>
                                <li>
                                    <i><img src="{% static 'images/language.png' %}" alt="" /></i>
                                    <div class="lessons-steps-text">
                                        <h4>Session Language</h4>
                                        <span>Hosted in {% for language in lesson.language %}{{language}}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                    </div>
                                </li>
                            </ul>


                            {% if enrollments|length > 0 %}
                                <div class="profimg-name">
                                    <div class="profimg-col">
                                        <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt="" /></div>
                                        <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt="" /></div>
                                        <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt="" /></div>
                                    </div>
                                    <div class="prof-name">
                                        <h4>
                                            <a href="#">
                                                With {{enrollments.0.student.user.first_name}}, {{enrollments.1.student.user.first_name}}, {{enrollments.2.student.user.first_name}}<br />
                                                + {{enrollments|slice:"3:"|length}} other students
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>What You Will Learn</label>
                        <div class="content-area">
                            <ul class="listStyle">
                                {% for goal in lesson.learnings %}
                                    <li>{{goal}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Lesson Requirements</label>
                        <div class="content-area">
                            <ul class="listStyle">
                                {% for requirement in lesson.requirements %}
                                    <li>{{requirement}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% comment %} <div class="form-group">
                        <label>Who Is This Lesson For?</label>
                        <div class="content-area">
                            <ul class="listStyle">
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</li>
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</li>
                                <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</li>
                            </ul>
                        </div>
                    </div> {% endcomment %}

                    {% if reviews|length > 0 %}
                    <div class="form-group reviews-section">
                        <label>
                            Reviews
                            <strong class="review-reating">
                                <i class=""><img src="{% static 'images/rating-fill.svg' %}" alt="" /></i> {{ avg_rating }}
                            </strong>
                        </label>
                        <div class="reviewbox-wrap">
                            {% for review in reviews|slice:"0:3" %}
                                <div class="reviewbox">
                                    <div class="review-msg">
                                        {{review.review}}
                                    </div>
                                    <div class="profimg-name">
                                        <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                                        <div class="prof-name">
                                            <h4>{{review.user.first_name}} {{review.user.last_name}} </h4>
                                            <span class="lession-time">{{ review.created_at|naturaltime }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for review in reviews|slice:"3:" %}
                                <div class="reviewbox view-all-reviews" style="display:none">
                                    <div class="review-msg">
                                        {{review.review}}
                                    </div>
                                    <div class="profimg-name">
                                        <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                                        <div class="prof-name">
                                            <h4>{{review.user.first_name}} {{review.user.last_name}} </h4>
                                            <span class="lession-time">{{ review.created_at|naturaltime }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="showall-btn"><button id="viewAllReviews" class="btn btn-liner">Show All</button></div>
                    </div>
                    {% endif %}

                    <div class="form-group your-teacher-section">
                        <label>Your Teacher</label>
                        <div class="your-teacher-wrap">
                            <div class="profimg-name">
                                <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt="" /></div>
                                <div class="prof-name">
                                    <div>
                                        <h4>{{lesson.creator.user.first_name}} {{lesson.creator.user.last_name}}</h4>
                                        <span class="desigation">{{lesson.creator.description}}</span>
                                    </div>
                                    {% comment %} <button type="button" class="btn-rounded btn-with-icon">
                                        <i><img src="{% static 'images/message.svg' %}" alt="" /></i> Message Thomas
                                    </button> {% endcomment %}
                                    <div class="yourtchr-dtl">
                                        <div class="yourtchr-dtl-col">
                                            <i class=""><img src="{% static 'images/rating-fill.svg' %}" alt="" /></i> {{lesson.creator.avg_rating}}
                                        </div>
                                        <div class="yourtchr-dtl-col">
                                            <i class=""><img src="{% static 'images/Video-Lesson.png' %}" alt="" /></i> {{ all_lessons }}+ Lessons
                                        </div>
                                        {% comment %} <div class="yourtchr-dtl-col">
                                            <i class=""><img src="{% static 'images/View.png' %}" alt="" /></i> 10,998 Minutes Watched
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>

                            <div class="teacher-msgarea">
                                {{lesson.creator.description}}
                            </div>
                        </div>
                        {% if lesson.slot_available %}
                            {% if user.user_type == 'ST' %}
                                {% if not is_student_enrolled %} 
                                    <button type="button" class="btn btn-theme book-this-lesson" data-lesson-uuid="{{lesson.lesson_uuid}}" data-session-type="{{lesson.session_type}}">Book This Lesson</button>
                                {% else %}
                                    <a href="{{BASE_URL}}/student/dashboard/enrollments"  role="button" class="btn btn-theme">Already Enrolled, Go to Dashboard</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>More Lessons by {{lesson.creator.user.first_name}} {{lesson.creator.user.last_name}}</label>
                        {% for mlesson in more_lessons %}
                            <h2 class="lession-title">{{mlesson.name}}</h2>
                            <div class="searchresult-row mb-5 pb-4">
                                <div class="lession-col-left">
                                    <img src="{% if mlesson.cover_image %} {{ mlesson.cover_image}} {% else %}{% static 'images/lession-1.jpg' %} {% endif %}" alt="" />
                                </div>
                                <div class="lession-col-right">
                                    <ul class="lessons-steps">
                                        <li>
                                            <i><img src="{% static 'images/session-number2.png' %}" alt="" /></i>
                                            <div class="lessons-steps-text">
                                                <h4>Session Number</h4>
                                                <a href="#">{{ mlesson.upcoming_slot.session_no }}</a> <span>Out of {{ mlesson.no_of_slots }}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <i><img src="{% static 'images/hour-glass.png' %}" alt="" /></i>
                                            <div class="lessons-steps-text">
                                                <h4>Session Duration</h4>
                                                <span>{{ mlesson.upcoming_slot.session_duration }}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <i><img src="{% static 'images/webinar.png' %}" alt="" /></i>
                                            <div class="lessons-steps-text">
                                                <h4>Session Type</h4>
                                                {% if mlesson.no_of_participants > 1 %}
                                                    <span>Group</span>
                                                {% else %}
                                                    <span>One - on - One</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                        <li>
                                            <i><img src="{% static 'images/language.png' %}" alt="" /></i>
                                            <div class="lessons-steps-text">
                                                <h4>Session Language</h4>
                                                <span>Hosted in {% for language in mlesson.language %}{{language}}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="btn-area-2">
                                    {% if user.user_type == 'ST' %}
                                        {% if not mlesson.slot_available %}
                                            <a href="{{BASE_URL}}/lesson/{{mlesson.lesson_uuid}}/book" target="_blank" type="button" class="btn btn-theme">
                                                Book Now
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'dashboard-lessons' %}" target="_blank" type="button" class="btn btn-theme">
                                            Go to lesson
                                        </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="page-right-area">
                {% if lesson.session_type in 'ONGOING,SINGLE' %}
                    {% if lesson.price.type == 'pricePerSession' %}
                        <div class="default-box-style">
                            <h2>{{currency_info.symbol}}{{lesson.price.value}}/person</h2>
                            <h3>per session</h3>
                        </div>
                    {% elif lesson.price.type == 'weeklyPrice' %}
                        <div class="default-box-style">
                            <h2>{{currency_info.symbol}}{{lesson.price.value}}/person</h2>
                            <h3>per week</h3>
                        </div>
                    {% elif lesson.price.type == 'monthlyPrice' %}
                        <div class="default-box-style">
                            <h2>{{currency_info.symbol}}{{lesson.price.value}}/person</h2>
                            <h3>per month</h3>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="default-box-style">
                        <h2>{{currency_info.symbol}}{{total_lesson_price}}/person</h2>
                        <h3>for {{lesson.no_of_slots}} sessions</h3>
                    </div>
                {% endif %}

                <!-- check lesson slot available or not -->
                {% if lesson.slot_available %}
                    {% if user.user_type == 'ST' %}
                        {% if not is_student_enrolled %} 
                            <button type="button" class="btn btn-theme w-100 mb-4 book-this-lesson" data-lesson-uuid="{{lesson.lesson_uuid}}" data-session-type="{{lesson.session_type}}">
                                Book Now </button>
                        {% else %} 
                            <a href="{{BASE_URL}}/student/dashboard/enrollments"  role="button" class="btn btn-theme">Already Enrolled, Go to Dashboard</a>
                        {% endif %}
                    {% endif %}

                    {% if lesson.session_type != 'ONGOING' %}
                        <div class="default-box-style">
                            <div class="seat-remaining-title">
                                <div class="circle-area">{{ seats_remaining }}</div>
                                Seats remaining
                            </div>
                            <div class="session-seat-row">
                                <h5>First Session on</h5>
                                <div class="sessionDayDate">
                                    <i><img src="{% static 'images/time_date.png' %}" alt="" /></i> {{lesson_time_slots.0.3}}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <div class="content-area">
                                                {{lesson_time_slots.0.0}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>End Time</label>
                                            <div class="content-area">
                                                {{lesson_time_slots.0.1}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-seat-row">
                                <h5>Next Session on</h5>
                                {% for slot in lesson_time_slots|slice:"1:4" %}
                                    <div class="next-session-row">
                                        <div class="sessionDayDate">
                                            <i><img src="{% static 'images/time_date.png' %}" alt="" /></i> {{slot.3}}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Start Time</label>
                                                    <div class="content-area">
                                                    {{slot.0}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>End Time</label>
                                                    <div class="content-area">
                                                    {{slot.1}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="see-allS-btn d-flex mb-4">
                            <button class="btn btn-liner"  data-toggle="modal" data-target="#modal3">See All Sessions</button>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-theme w-100"  onclick="copyToClipboard(window.location.href)">Share Now</button>
                {% else %}
                    <a href="{{teacher_url}}"  role="button" class="btn btn-theme">View more lessons</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        var lessonDateSlots = '{{ lesson_date_slots|escapejs }}';
        var lessonTimeSlots = '{{ lesson_time_slots|escapejs }}';
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
   <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous"></script>
    <script src="{% static '/js/booking/custom.js' %}" type="text/javascript"></script> 
    <script src="{% static '/js/booking/preview.js' %}" type="text/javascript"></script> 
    <script>
    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
    </script>
{% endblock %}
