
{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/home.css' %}" rel="stylesheet">
<link href="{% static '/css/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade modal-bankac" id="connectStipeModal" tabindex="-1" aria-labelledby="bankLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="{% static 'images/close.svg' %}" alt="" />
        </button>
        <div class="modal-body">
         <h2>Link Account!</h2>
         {% comment %} <div class="note-text">Note: </div> {% endcomment %}
         <p class="paymentAddFormError" style="color:red;"></p>
         <form id="paymentAddForm" action="." method="post" autocomplete="off">{% csrf_token %}
            <div class="bank-form mt-5"> 
                <div class="row">
                    <div class="col-lg-6">
                            <div class="form-group">
                                <label>Your Birth Date <span class="required">*</span></label>
                                <div class="liner-inp"> 
                                    <input id="dataOfBirth" type="text" class="form-control" placeholder="Date of Birth - dd/mm/yyyy" maxlength="10"  required/>
                                    <small class="text-danger error-feedback"></small>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                            <div class="form-group">
                                <label>Personal ID <span class="required">*</span></label>
                                <div class="liner-inp"> 
                                    <input id="personalID" type="text" class="form-control" placeholder="Personal ID / PAN No. / Social Sc No." />
                                    <small class="text-danger error-feedback"></small>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Address <span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="address" type="text" class="form-control" placeholder="Address" required/>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>City<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="city" type="text" class="form-control" placeholder="City" required/>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Country<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <select name="country" id="country" class="form-control" required>
                                    <option value="">Select Country</option>
                                    {% for country in countries_list %}
                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Currency <span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <select name="currency" class="form-control" id="currency" required>
                                    <option value="">Select Currency</option>
                                    {% for currency in currency_options %}
                                        <option value="{{currency.value}}">{{ currency.value}} - {{currency.label}}</option>
                                    {% endfor %}
                                </select>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Bank Information</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Account Number<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="bankAccountNumber" type="text" class="form-control" placeholder="Bank Account Number" required/>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Account Holder Name<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="accountHolderName" type="text" class="form-control" placeholder="Account Holder Name" required/>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Bank Name<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="bankName" type="text" class="form-control" placeholder="Bank Name" required/>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Routing Number<span class="required">*</span></label>
                            <div class="liner-inp"> 
                                <input id="routingNumber" type="text" class="form-control" placeholder="Routing Number, sort code, or other code" />
                                <small id="emailHelp" class="form-text text-muted">The routing number, sort code, or other country-appropriate institution number for the bank account. </small></br>
                                <small class="text-danger error-feedback"></small>
                            </div>
                        </div>
                    </div>
                </div>
          </form>
        </div>
         
        <div class="bankbottom">
            <div class="bankbottom-left">
              <button type="button" id="submitPayment" class="btn btn-primary btn-full btn-lg">Add Account</button>
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="bank-graphic"><img src="{% static 'images/banking-graphics.svg' %}" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</div>   

<div class="wrapper">
    {% include 'header.html' with user=user %}
    <div class="mid-sec pb-100 boarding-sec">
        <div class="container">
            <div class="board-process">
                <div class="board-num"><span class="active">02</span>/03</div>
                <span class="board-process-txt">Onboarding Process</span>
            </div>
            <div class="boarding-wrap">
                <div class="title-row"><h2>Welcome {{user.first_name}}</h2>
                    <p>You are almost there. Connect Your Accounts To Start Teaching Now</p>
                </div>
                <div class="boarding-row">
                    <div class="boarding-left">
                        <div class="host-zoom">
                            <p>Connect Your Zoom Account To<br /> Start Hosting Live Lessons</p>
                            {% if 'ZOOM' in teacher_accounts %}
                            <button id="disconnectZoomAccount" type="button" class="btn-large">
                                <i>
                                    <img src="{% static '/images/zoom-icon.svg' %}" alt="" />
                                </i>
                                <span>Disconnect Zoom</span>
                            </button>
                            {% else %}
                            <button id="connectZoomAccount" data-account-type="zoom" data-client-id="{{zoom.ZOOM_CLIENT_ID}}" data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}" type="button" class="btn-large">
                                <i data-account-type="zoom" data-client-id="{{zoom.ZOOM_CLIENT_ID}}" data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}">
                                    <img data-account-type="zoom" data-client-id="{{zoom.ZOOM_CLIENT_ID}}" data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}" src="{% static '/images/zoom-icon.svg' %}" alt="" />
                                </i>
                                <span data-account-type="zoom" data-client-id="{{zoom.ZOOM_CLIENT_ID}}" data-redirect-uri="{{zoom.ZOOM_REDIRECT_URL}}">Connect to Zoom</span>
                            </button>
                            {% endif %}
                            <strong id="onboardingZoomConnectError" style="color:red;"></strong>
                        </div>
                        <div class="cards-wrap">
                            <p>Connect Your Preferred Payment Method To<br> Start Earning From Your Lessons</p>
                            <div class="cards-row">
                                <div class="card-btn-col">
                                    <button button type="button" class="btn-large" data-toggle="modal" data-target="#connectStipeModal" {% if payment_account %}disabled{% endif%}><img src="{% static '/images/stripe.svg' %}" alt="" /></button>
                                    <span class="card-name">Stripe {% if payment_account %}connected{% endif %}</span>
                                    <strong id="onboardingStripeError" style="color:red;"></strong>
                                </div>
                                {% comment %}<div class="card-btn-col">
                                    <button type="button" class="btn-large"><img src="{% static '/images/paypal.svg' %}" alt="" /></button>
                                    <span class="card-name">PayPal</span>
                                </div>
                                <div class="card-btn-col">
                                    <button type="button" class="btn-large"><img src="{% static '/images/master.svg' %}" alt="" /></button>
                                    <span class="card-name">NEFT</span>
                                </div>{% endcomment %}
                            </div>
                        </div>
                        <div class="btn-area">
                            <button id="onboarding2Proceed" type="button" class="btn btn-primary btn-lg btn-theme"><span>Start Your First Session</span> <i><img src="{% static '/images/arrow-w.svg' %}" alt="" /></i></button>
                        </div>
                    </div>
                    <div class="boarding-right boarding-graphics">
                        <img src="{% static '/images/board-2.svg' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>

<!-- Google CDN jQuery with fallback to local -->
{% endblock %}

{% block script %}
<script>
  var teacherAccounts = "{{teacher_accounts | safe}}";
  teacherAccounts = JSON.parse(teacherAccounts.replaceAll("'", '"'));
  var isZoomLinked = teacherAccounts.hasOwnProperty('ZOOM');

  // TODO: move this to separate js file
  // birth date mask
  var dateInputMask = function dateInputMask(elm) {
    elm.addEventListener('keypress', function(e) {
      if(e.keyCode < 47 || e.keyCode > 57) {
        e.preventDefault();
      }
      
      var len = elm.value.length;
      
      // If we're at a particular place, let the user type the slash
      // i.e., 12/12/1212
      if(len !== 1 || len !== 3) {
        if(e.keyCode == 47) {
          e.preventDefault();
        }
      }
      
      // If they don't add the slash, do it for them...
      if(len === 2) {
        elm.value += '/';
      }

      // If they don't add the slash, do it for them...
      if(len === 5) {
        elm.value += '/';
      }
    });
  };

  const dateInput = document.querySelector('#dataOfBirth');
  dateInputMask(dateInput);
</script>
<script src="{% static '/js/onboarding.js' %}" type="text/javascript"></script>
{% endblock %}