{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard/style.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboard/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
.selectct-sessionsNom {display: flex; margin-top:2px; flex-wrap: wrap;}
.select-sessions-col {display: flex;  flex-wrap: wrap;  width: calc(33.333% - 15px); align-self: flex-start; margin:0 15px 15px 0;}
.select-sessions-col:last-child{margin-right: 0px;}
</style>
<!-- Modal -->
 <div class="modal fade modal-newmeeting" id="newmeeting" tabindex="-1" aria-labelledby="newmeeting" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="{% static 'images/close.svg' %}" alt="" />
          </button>
        <div class="modal-body">
            <div class="share-modal-wrap">
                <div class="share-modal-left">
                    <h3>Schedule Meeting</h3>
                    <h4>Thank you! Your meeting invites will be sent shortly</h4>
  
                    <div class="sharecopy-link">
                        <h2>Meeting Link</h2>
                        <div class="sharecopy-inp">
                            <input type="text" class="form-control" placeholder="https://www.zoom.com/xyzjava/1548fghgytuj" />
                            <button type="button" class="btn-theme">Copy</button>
                        </div>
                    </div>
  
                        <div class="share-to"> 
                            <h5>Share to</h5>
                            <div class="social-icons">
                                <a href="#"><img src="images/whatsapp-icon.svg" alt="" /></a>
                                <a href="#"><img src="images/telegram-icon.svg" alt="" /></a>
                                <a href="#"><img src="images/facebook-icon.svg" alt="" /></a>
                                <a href="#"><img src="images/linkedin-icon.svg" alt="" /></a>
                                <a href="#"><img src="images/twitter-icon.svg" alt="" /></a>
                                <a href="#"><img src="images/email-icon.svg" alt="" /></a>
                            </div>
                        </div>
  
                        <div class="btn-area mt-5 twobtn-wrap">
                            <button type="button" class="btn btn-theme">Start Meeting</button>
                        </div>
                        
                    
                </div>
                <div class="share-graphics">
                    <img src="{% static 'images/share-graphics.svg' %}" alt="" />
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 

<div class="boarding-sec">
<div class="host-header">
    <div class="host-header-left">
        <button type="button" class="link-back"><img src="{% static 'images/back.svg' %}" alt="" /></button> <h2>Host New Lesson</h2>
    </div>
    <div class="board-process">
        <div class="board-num"><span class="active">02</span>/02</div>
        <span class="board-process-txt">Meeting Schedule &amp; Price</span>
    </div>
</div>

<div class="boarding-area">
    <div class="container">
       <div class="boarding-wrap">
        <div class="title-row"><h2>Session Schedule <span class="required">*</span></h2></div>
        <div class="boarding-row">
            <div class="boarding-left">
                <div class="form-group">
                    <div class="select-dateTime-row"> 
                        <div class="select-dateTime-col">
                            <button type="button" class="btn-select-session">Flexible Date & Time</button>
                            <span class="select-session-text">By selecting this option, students can book any time during your office hours. Please select office hours on your calendar to start receiving bookings after creating this lesson</span>
                        </div>
                        <div class="select-dateTime-col">
                            <button type="button" class="btn-select-session selected">Select Date & Time</button>
                            <span class="select-session-text">By selecting this option, students will be
                                required to follow lesson timings set by you</span>
                        </div>
                    </div>
                </div>
                
                <div class="selectdatetile-wrap">
                    <div class="form-group">
                    <div class="dateTime-cald-row">
                        <div class="dateTime-cald-col">
                            <label>Start Date <span class="required"> *</span> </label>
                            <div class="dateTimeCald">
                                <img src="{% static 'images/Calendar.svg' %}" alt="" />
                            </div>
                        </div>
                        <div class="dateTime-cald-col">
                            <label>End Date <span class="required"> *</span> </label>
                            <div class="dateTimeCald">
                                <img src="{% static 'images/Calendar.svg' %}" alt="" />
                                <span class="required-text">End date cannot be earlier than Start Date</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Session Repeats <span class="required"> *</span> </label>
                    <div class="select-day-row">
                        <button type="button" class="select-btn2 active">Sun</button>
                        <button type="button" class="select-btn2">Mon</button>
                        <button type="button" class="select-btn2 active">Tue</button>
                        <button type="button" class="select-btn2">Wed</button>
                        <button type="button" class="select-btn2">Thu</button>
                        <button type="button" class="select-btn2 active">Fri</button>
                        <button type="button" class="select-btn2">Sat</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Number of Sessions</label>
                    <div class="inp-text">01</div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Start Time <span class="required">*</span></label>
                            <div class="liner-select-drop"> 
                                <select class="form-control">
                                    <option>Select Time</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>End Time <span class="required">*</span></label>
                            <div class="liner-select-drop"> 
                                <select class="form-control">
                                    <option>Select Time</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Time Zone <span class="required">*</span></label>
                    <div class="liner-select-drop"> 
                        <select class="form-control">
                            <option>Select Time Zone</option>
                        </select>
                    </div>
                </div>

                <div class="priceSection"> 
                    <div class="inp-price-wrap">
                        <div class="inp-price-row form-group">
                            <div class="select-price01 pl-0">
                                <div class="w-100">
                                    <label>Price Per Session<span class="required">*</span></label>
                                </div>

                                <div class="row">
                                    <div class="col-lg-5 liner-select-drop"> 
                                        <select class="form-control">
                                            <option>$ US Dollar</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-7 liner-select-drop"> 
                                        <select class="form-control">
                                            <option>$50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="session-price-col">
                                <h4>Total Price</h4>
                                <span>$250.00</span>
                            </div>
                        </div>
                      
                        <div class="inp-price-row">
                            <div class="select-price01 pl-0">
                                <div class="w-100">
                                    <label>Monthly Price<span class="required">*</span></label>
                                </div>

                                <div class="row">
                                    <div class="col-lg-5 liner-select-drop"> 
                                        <select class="form-control">
                                            <option>$ US Dollar</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-7 liner-select-drop"> 
                                        <select class="form-control">
                                            <option>$50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="session-price-col">
                                <h4>Total Price</h4>
                                <span>$250.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

                <div class="btn-area"> 
                    <button type="button" class="btn btn-primary btn-lg btn-theme" data-toggle="modal" data-target="#newmeeting">Create Meeting</button>
                </div>
            </div>
            <div class="boarding-right">
                <img src="{% static 'images/schdule-graphics.svg' %}" alt="" />
            </div>
        </div>
    </div>
    </div>
  </div>

</div>
{% endblock %}
