{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard/style.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboard/media.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
{% endblock %}

{% block content %}
<div class="boarding-sec">
<div class="host-header">
    <div class="host-header-left">
        <button type="button" class="link-back"><img src="{% static 'images/back.svg' %}" alt="" /></button> <h2>Publish a note or Document</h2>
    </div>
    <div class="board-process">
        <div class="board-num"><span class="active">03</span>/03</div>
        <span class="board-process-txt">Price &amp; Goals</span>
    </div>
</div>

<div class="boarding-area">
    <div class="container">
       <div class="boarding-wrap">
        <div class="title-row"><h2>Set Price &amp; Goals</h2></div>
        <div class="boarding-row">
            <div class="boarding-left">
                <form id="step3" action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                <input type="text" name="step3-price_type" id="priceType" style="display:none" value="pricePerSession" />
                <input type="text" name="step3-price_currency" id="priceCurrency" style="display:none" />
                <input type="number" name="step3-price_value" id="priceValue" style="display:none" />
                <div class="form-group">
                    <div class="input-area">
                        <label>Price <span>*</span></label>
                    <div class="row">
                        <div class="col-lg-3 liner-select-drop"> 
                            <select class="form-control" id="pricePerSessionCurrency" >
                                <option value="DOLLARS">$ US Dollar</option>
                                <option value="RUPEES">₹ Indian Rupees</option>
                            </select>
                        </div>
                        <div class="col-lg-5 liner-select-drop"> 
                            <input type="number" class="form-control" id="pricePerSessionValue" placeholder="50" value="0">
                        </div>
                        <p id="pricePerSessionError" style="color:red;"></p>
                        <div class="col-lg-4"> 
                           <div class="month-hour-text">per month</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="input-area">
                        <label>Reading Duration <span>*</span></label>
                    <div class="row">
                        <div class="col-lg-8 liner-select-drop"> 
                            <input type="number" class="form-control" name="step3-reading_duration" id="noteTimeDurationValue" placeholder="1" value="{{ wizard.form.reading_duration.value|default_if_none:'1' }}" >
                        </div>
                        <div class="col-lg-4"> 
                           <div class="month-hour-text">hours</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group">
                <div class="input-area upImage-video-wrap">
                  <div class="upImage-video-row">
                      <div class="upImage-video-col">
                         <div class="upImage-video-inner">
                            <input id="coverImageUpload" class="upload-file-input" type="file" >
                            <input id="previewCoverImageDataUrl" name="step3-cover_image" value="" style="display:none" />
                            <i><img id="previewCoverImage" src="{% static 'images/picture.png' %}" alt="" /></i>
                            <h4>Add cover image</h4>
                         </div>
                         <span class="dtl-txt text-left">
                            Please add an engaging image at least 600 pixels wide and free of copyright
                            <p id="coverImageError" style="color:red;"></p>
                         </span>
                      </div>
                  </div>
              </div>
            </div>
                <div class="form-group">
                     <div class="input-area addmore-fields">
                        <label>What Your Students Will Learn</label>
                        <input  id="goals" name="step3-goals" style="display: none"/>
                        <div class="liner-inp mb-2" id="lastGoalInput"> 
                           <input type="text" class="form-control goal-input" placeholder="Add a goal..." data-goal-index="0"/>
                           <button id="addMoreGoalButton" class="btn-addmore add-goal-button" type="button"><img src="{% static 'images/add-icon.svg' %}" alt="" /></button>
                        </div>
                        <div class="liner-inp mb-2" id="referenceGoalInput" style="display:none" data-index="1"> 
                           <input type="text" class="form-control" placeholder="Add a goal..." />
                        </div>
                        <span class="addmore-text">Press enter to add more</span>
                     </div>
                     <p id="goalError" style="color:red;"></p>
                </div>
                <div class="btn-area d-flex"> 
                    <button type="button" class="btn btn-previous btn-theme btn-theme-liner mr-3"><i><img src="{% static 'images/previous-arrow.svg' %}" alt="" /></i> <span>Previous</span></button>
                    <button type="button" id="nts3Proceed" class="btn btn-theme"><span>Review &amp; Finish</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i></button>
                </div>
            </form>
            </div>
            <div class="boarding-right">
                <img src="{% static 'images/create-note02.svg' %}" alt="" />
            </div>
        </div>
    </div>
    </div>
  </div>

</div>
{% endblock %}
{% block script %}
   <script src="{% static '/js/note/step3.js' %}" type="text/javascript"></script>
{% endblock %}