{% load static %}
<!-- Modal Signup -->
<div class="modal fade modal-formtype" id="modalSignupTeacherPage" tabindex="-1" aria-labelledby="modalSignupTeacherPage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <div class="div-3">
                    <div class="profimg-name">
                        <div class="profimg-rounded"><img src="{% static 'images/user-img' %}.png" alt=""></div>
                        <div class="prof-name">
                            <h4>by Thomas Edward</h4>
                            <span class="lession-time">Monday, 06 Nov 2020</span>
                        </div>
                    </div>
                    <div class="div-content-modal">
                        Thank you for your interest. I would love to speak with
                        you. Please fill up the information below and we will
                        talk shortly
                    </div>
                </div>
                <div class="modal-form">
                                        <div class="form-group">
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                            <input id="signUpFirstName" type="text" class="form-control" placeholder="First Name" />
                        </div>
                        <strong id="signUpFirstNameError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                            <input id="signUpLastName" type="text" class="form-control" placeholder="Last Name" />
                        </div>
                        <strong id="signUpLastNameError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-globe.svg' %}" alt="" /></i>
                            <select id="signUpCountryCode" class="form-control">
                                <option value="none">Country Code</option>
                                <option value="+91">INDIA +91</option>
                                <option value="+1">UNITED STATES +1</option>
                                <option value="+61">AUSTRALIA +61</option>
                                <option value="+61">AUSTRIA +43</option>
                                <option value="+880">BANGLADESH +880</option>
                                <option value="+32">BELGIUM +32</option>
                                <option value="+55">BRAZIL +55</option>
                                <option value="+1">CANADA +1</option>
                                <option value="+33">FRANCE +33</option>
                                <option value="+49">GERMANY +49</option>
                                <option value="+852">HONG KONG +852</option>
                                <option value="+353">IRELAND +353</option>
                                <option value="+972">ISRAEL +972</option>
                                <option value="+39">ITALY +39</option>
                                <option value="+81">JAPAN +81</option>
                                <option value="+82">South Korea +82</option>
                                <option value="+960">MALDIVES +960</option>
                                <option value="+52">MEXICO +52</option>
                                <option value="+31">NETHERLANDS +31</option>
                                <option value="+64">NEW ZEALAND +64</option>
                                <option value="+51">PERU +51</option>
                                <option value="+48">POLAND +48</option>
                                <option value="+351">PORTUGAL +351</option>
                                <option value="+974">QATAR +974</option>
                                <option value="+7">RUSSIA +7</option>
                                <option value="+966">SAUDI ARABIA +966</option>
                                <option value="+65">SINGAPORE +65</option>
                                <option value="+27">SOUTH AFRICA +27</option>
                                <option value="+34">SPAIN +34</option>
                                <option value="+94">SRI LANKA +94</option>
                                <option value="+46">SWEDEN +46</option>
                                <option value="+41">SWITZERLAND +41</option>
                                <option value="+66">THAILAND +66</option>
                                <option value="+90">TURKEY +90</option>
                                <option value="+380">UKRAINE +380</option>
                                <option value="+971">UNITED ARAB EMIRATES +971</option>
                                <option value="+44">UNITED KINGDOM +44</option>
                                <option value="+84">VIETNAM +84</option>
                            </select>
                        </div>
                        <strong id="signUpCountryCodeError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-mobile.svg' %}" alt="" /></i>
                            <input id="signUpPhoneNumber" type="number" class="form-control" placeholder="Mobile Number" maxLength="10"/>
                        </div>
                        <strong id="SignUpPhoneNumberError" style="color:red;display: none;"></strong>
                    </div>

                    <div class="form-group">
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                            <input id="signUpEmail" type="email" class="form-control" placeholder="Email Address" />
                        </div>
                        <strong id="SignUpEmailError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                            <input id="signUpPassword" type="password" class="form-control" placeholder="Password" />
                        </div>
                        <strong id="SignUpPasswordError" style="color:red;display: none;"></strong>
                    </div>
                </div>
                <div class="modal-text">
                    By selecting <strong>Sign Up</strong> below, I agree to CentreStage’s <a href="#">Terms of Service, Payments Terms of Service, Privacy Policy,</a> and <a href="#">Nondiscrimination Policy</a>.
                </div>
                <button type="button" class="btn btn-primary btn-full btn-lg" id="signUpButton">Sign Up</button>
                <strong id="SignUpButtonError" style="color:red;display: none;"></strong>
                <div class="haveAc d-block">Already have an account? <a href="javascript:void(0);" id="openSignInButton">Sign In</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->

<!-- Modal Login-->
<div class="modal fade modal-formtype" id="modalLoginTeacherPage" tabindex="-1" aria-labelledby="modalLoginTeacherPage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <div class="div-3">
                    <div class="profimg-name">
                        <div class="profimg-rounded"><img src="{% static 'images/user-img' %}.png" alt=""></div>
                        <div class="prof-name">
                            <h4>by Thomas Edward</h4>
                            <span class="lession-time">Monday, 06 Nov 2020</span>
                        </div>
                    </div>
                    <div class="div-content-modal">
                        Thank you for your interest. I would love to speak with
                        you. Please fill up the information below and we will
                        talk shortly
                    </div>
                </div>
                <div class="modal-form">
                    <div class="form-group">
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                            <input id="loginEmail" type="email" class="form-control" placeholder="Email Address" />
                        </div>
                        <strong id="loginEmailError" style="color:red;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                            <input id="loginPassword" type="password" class="form-control" placeholder="Password" />
                        </div>
                        <strong id="loginPasswordError" style="color:red;"></strong>
                    </div>
                    <strong id="SignInButtonError" style="color:red;"></strong>
                    <button type="button" class="btn btn-primary btn-full btn-lg" id="signInButton">Login</button>
                    <a href="#" class="forgot-pass link-small-text">Forgotten Your Password?</a>
                    <div class="or-row">
                    <span>OR</span>
                    </div>
        
                    <h3>Log In Via OTP</h3>
                    <div class="form-group">
                    <div class="inp-col">
                        <i><img src="{% static '/images/icon-globe.svg' %}" alt="" /></i>
                        <select id="loginCountryCode" class="form-control">
                            <option value="none">Country Code</option>
                            <option value="+91">INDIA +91</option>
                            <option value="+1">UNITED STATES +1</option>
                            <option value="+61">AUSTRALIA +61</option>
                            <option value="+61">AUSTRIA +43</option>
                            <option value="+880">BANGLADESH +880</option>
                            <option value="+32">BELGIUM +32</option>
                            <option value="+55">BRAZIL +55</option>
                            <option value="+1">CANADA +1</option>
                            <option value="+33">FRANCE +33</option>
                            <option value="+49">GERMANY +49</option>
                            <option value="+852">HONG KONG +852</option>
                            <option value="+353">IRELAND +353</option>
                            <option value="+972">ISRAEL +972</option>
                            <option value="+39">ITALY +39</option>
                            <option value="+81">JAPAN +81</option>
                            <option value="+82">South Korea +82</option>
                            <option value="+960">MALDIVES +960</option>
                            <option value="+52">MEXICO +52</option>
                            <option value="+31">NETHERLANDS +31</option>
                            <option value="+974">QATAR +974</option>
                            <option value="+64">NEW ZEALAND +64</option>
                            <option value="+51">PERU +51</option>
                            <option value="+48">POLAND +48</option>
                            <option value="+351">PORTUGAL +351</option>
                            <option value="+7">RUSSIA +7</option>
                            <option value="+966">SAUDI ARABIA +966</option>
                            <option value="+65">SINGAPORE +65</option>
                            <option value="+27">SOUTH AFRICA +27</option>
                            <option value="+34">SPAIN +34</option>
                            <option value="+94">SRI LANKA +94</option>
                            <option value="+46">SWEDEN +46</option>
                            <option value="+41">SWITZERLAND +41</option>
                            <option value="+66">THAILAND +66</option>
                            <option value="+90">TURKEY +90</option>
                            <option value="+380">UKRAINE +380</option>
                            <option value="+971">UNITED ARAB EMIRATES +971</option>
                            <option value="+44">UNITED KINGDOM +44</option>
                            <option value="+84">VIETNAM +84</option>
                        </select>
                    </div>
                    <strong id="loginCountryCodeError" style="color:red;display: none;"></strong>
                    <div class="inp-col">
                        <i><img src="{% static '/images/icon-mobile.svg' %}" alt="" /></i>
                        <input id="loginPhoneNumber" type="text" class="form-control" placeholder="Phone Number" />
                    </div>
                    <strong id="loginPhoneNumberError" style="color:red;display: none;"></strong>
                    </div>
                    <strong id="OTPButtonError" style="color:red;"></strong>
                    <button id="getOTPButton" type="button" class="btn btn-primary btn-full btn-lg">Get OTP</button>
                    <div class="haveAc d-block">
                        Don't have an account?  <a href="javascript:void(0);" id="openSignUpButton">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->

<!-- Modal OTP-->
<div class="modal fade login-modal comn-modal" id="modalOTPTeacherPage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
            <i><img src="{% static '/images/login-icon.svg' %}" alt="" /></i>
            OTP Authentication
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="login-form">
            <div>Please enter the One Time Password (OTP) sent to your phone number</div>
            <div class="otp-inp">
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number" id="finalInput" />
            </div>
            <strong id="otpCodeError" style="color:red;display: none;"></strong>
            <button id="verifyOTPButton" type="button" class="btn btn-primary btn-full btn-lg">Verify OTP</button>
            <div class="haveAc">
                <span class="otp-time">Submit OTP in: <span id="timer"></span></span><span>Didn't get any OTP? <a href="#">Resend</a></span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal Login End-->

<!-- Modal -->
<div class="modal fade modal-pick-dateTime" id="modal1" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <h2>Pick Date &amp; Time</h2>
                <div class="cald-area mb-3">
                    <img src="{% static 'images/Calendar.svg' %}" alt="" />
                </div>
                <div class="select-datetime-dropdown mb-3">
                    <select class="form-control">
                        <option>03:00 PM - 04:00 PM  (GMT+5:30)</option>
                        <option>05:00 PM - 06:00 PM  (GMT+5:30)</option>
                        <option>07:30 PM - 09:00 PM  (GMT+5:30)</option>
                        <option>10:00 PM - 11:30 PM  (GMT+5:30)</option>
                    </select>
                </div>
                <div class="btn-proceed">
                    <button type="button" class="btn btn-primary btn-lg btn-theme"><span>Proceed</span> <i><img src="{% static 'images/next.svg' %}" alt="" /></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->

<!-- Modal -->
<div class="modal fade modal-15 modal-small" id="modal15" tabindex="-1" aria-labelledby="modal15" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body text-center">
                <div class="busy-graphics">
                    <img src="{% static 'images/busy-graphics.svg' %}" alt="" />
                </div>
                <h3 class="text-3">Sorry!  Unfortunately I am fully booked
                    on this day.
                </h3>
                <div class="btn-flexy">
                    <button type="button" class="btn btn-primary btn-lg btn-theme">Pick Another Date</button>
                    <div class="or-text">Or</div>
                    <button type="button" class="btn btn-primary btn-lg btn-theme-liner">Message Me</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->

<!-- Modal -->
<div class="modal fade modal-15 modal-small" id="sendMsg" tabindex="-1" aria-labelledby="sendMsg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body text-center">
                <div class="busy-graphics">
                    <img src="{% static 'images/message-graphics.svg' %}" alt="" />
                </div>
                <h2>Send Message</h2>
                <h3 class="text-3">Please mention your desired time to consult me and
                    I will get back to you
                </h3>
                <div class="liner-inp">
                    <input type="text" class="form-control" placeholder="Message">
                </div>
                <div class="btn-send text-right">
                    <button type="button" class="btn btn-primary btn-lg btn-theme"><span> Send</span> <i><img src="{% static 'images/send-white.svg' %}" alt="" /></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->
<!-- Modal -->
<div class="modal fade modal-booking" id="booking" tabindex="-1" aria-labelledby="booking" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <div class="share-modal-wrap">
                    <div class="share-modal-left">
                        <h3>Thank you for booking!</h3>
                        <h4>We will send you a confirmation shortly with your <br />
                            meeting details
                        </h4>
                        <div class="sharecopy-link">
                            <h2>Core JAVA Development</h2>
                            <div class="sharecopy-inp">
                                <input type="text" class="form-control" placeholder="https://www.zoom.com/xyzjava/1548fghgytuj" />
                                <button type="button" class="btn-theme">Copy</button>
                            </div>
                        </div>
                        <div class="share-to">
                            <h5>Share to</h5>
                            <div class="social-icons">
                                <a href="#"><img src="{% static 'images/whatsapp-icon.svg' %}" alt="" /></a>
                                <a href="#"><img src="{% static 'images/telegram-icon.svg' %}" alt="" /></a>
                                <a href="#"><img src="{% static 'images/facebook-icon.svg' %}" alt="" /></a>
                                <a href="#"><img src="{% static 'images/linkedin-icon.svg' %}" alt="" /></a>
                                <a href="#"><img src="{% static 'images/twitter-icon.svg' %}" alt="" /></a>
                                <a href="#"><img src="{% static 'images/email-icon.svg' %}" alt="" /></a>
                            </div>
                        </div>
                        <div class="share-to">
                            <h5>How was your overall booking process experience?</h5>
                            <div class="rating-row">
                                <img id="lessonstar1" src="{% static 'images/rating-blank.svg' %}" alt="">
                                <img id="lessonstar2" src="{% static 'images/rating-blank.svg' %}" alt="">
                                <img id="lessonstar3" src="{% static 'images/rating-blank.svg' %}" alt="">
                                <img id="lessonstar4" src="{% static 'images/rating-blank.svg' %}" alt="">
                                <img id="lessonstar5" src="{% static 'images/rating-blank.svg' %}" alt="">
                            </div>
                        </div>
                        <div class="btn-area mt-5 twobtn-wrap">
                            <button type="button" class="btn btn-theme pl-5 pr-5">Submit</button>
                        </div>
                    </div>
                    <div class="share-graphics">
                        <img src="{% static 'images/share-graphics' %}.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade modal-Wreview" id="writeReview" tabindex="-1" aria-labelledby="writeReview" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'images/close.svg' %}" alt="" />
            </button>
            <div class="modal-body">
                <h2>Write a review for</h2>
                <div class="review-modal-top">
                    <div class="profimg-rounded"><img src="{% static 'images/user-img' %}.png" alt=""></div>
                    <div class="d-block writer-name mt-2">
                        <h3>{{teacher.user.first_name}} {{teacher.user.last_name}} 
                    </div>
                    <input id="rating" type="hidden" style="display:none">
                    <div class="rating-row">
                        <img id="teacherstar1" src="{% static 'images/rating-blank.svg' %}" alt="">
                        <img id="teacherstar2" src="{% static 'images/rating-blank.svg' %}" alt="">
                        <img id="teacherstar3" src="{% static 'images/rating-blank.svg' %}" alt="">
                        <img id="teacherstar4" src="{% static 'images/rating-blank.svg' %}" alt="">
                        <img id="teacherstar5" src="{% static 'images/rating-blank.svg' %}" alt="">
                    </div>
                    <p id="ratingError" style="margin-left:16px; color:red;display:none;"></p>
                </div>
                <div class="liner-inp">
                    <input type="text" id="review" class="form-control" placeholder="Write your Review">
                    <p id="reviewError" style="margin-left:16px; color:red;display:none;"></p>
                </div>
                <div class="endorse-sec">
                    <h4>Endorse your teacher for</h4>
                    <div class="endorse-wrap">
                        <div class="checkbox">
                            <input id="lessonQuality" type="checkbox">
                            <label for="lessonQuality">Lesson Quality</label>
                        </div>
                        <div class="checkbox">
                            <input id="lessonContent" type="checkbox">
                            <label for="lessonContent">Lesson Content</label>
                        </div>
                        <div class="checkbox">
                            <input id="lessonStructure" type="checkbox">
                            <label for="lessonStructure">Lesson Structure</label>
                        </div>
                        <div class="checkbox">
                            <input id="teacherHelpfulness" type="checkbox">
                            <label for="teacherHelpfulness">Teacher Helpfulness</label>
                        </div>
                        <div class="checkbox">
                            <input id="teacherCommunication" type="checkbox">
                            <label for="teacherCommunication">Teacher Communication</label>
                        </div>
                        <div class="checkbox">
                            <input id="teacherKnowledge" type="checkbox">
                            <label for="teacherKnowledge">Teacher Knowledge</label>
                        </div>
                    </div>
                </div>
                <div class="btn-center">
                    <button type="button" class="btn btn-theme" id="submitReview" ><span>Submit</span> <i><img src="{% static 'images/next.svg' %}" alt=""></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->