{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Center Stage</title>
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/style.css' %}" rel="stylesheet">
        <link href="{% static '/css/media.css' %}" rel="stylesheet">

        {% block style %}{% endblock %}

    </head>
    <body>

        {% block content %}{% endblock %}

        <!-- Google CDN jQuery with fallback to local -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/js/owl.carousel.min.js' %}"></script>
        <script src="{% static '/js/custom.js' %}"></script>

        {% block script %}{% endblock %}

    </body>
</html>