{% load static %}

<!-- Modal Login-->
<div class="modal fade login-modal comn-modal" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i><img src="{% static '/images/login-icon.svg' %}" alt="" /></i> Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="login-form">
            <div class="form-group">
                <div class="inp-col">
                    <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                    <input id="loginEmail" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <strong id="loginEmailError" style="color:red;"></strong>
                <div class="inp-col">
                    <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                    <input id="loginPassword" type="password" class="form-control" placeholder="Password" />
                </div>
                <strong id="loginPasswordError" style="color:red;"></strong>
            </div>
                <button type="button" class="btn btn-primary btn-full btn-lg" id="signInButton">Log in</button>
                <a href="#" class="forgot-pass link-small-text">Forgotten Your Password?</a>
                <div class="or-row">
                <span>OR</span>
                </div>
    
                <h3>Log In Via OTP</h3>
                <div class="form-group">
                <div class="inp-col">
                    <i><img src="{% static '/images/icon-globe.svg' %}" alt="" /></i>
                    <select id="loginCountryCode" class="form-control">
                    <option value="none">Country Code</option>
                    <option value="+1">United States +1</option>
                    <option value="+91">India +91</option>
                    </select>
                </div>
                <strong id="loginCountryCodeError" style="color:red;display: none;"></strong>
                <div class="inp-col">
                    <i><img src="{% static '/images/icon-mobile.svg' %}" alt="" /></i>
                    <input id="loginPhoneNumber" type="text" class="form-control" placeholder="Phone Number" />
                </div>
                <strong id="loginPhoneNumberError" style="color:red;display: none;"></strong>
                </div>
                <button id="getOTPButton" type="button" class="btn btn-primary btn-full btn-lg">Get OTP</button>
                <div class="haveAc d-block">
                    Don't have an account?<a href="javascript:void(0);" id="openSignUpButton">Sign Up</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal Login End-->

<!-- Modal Signup-->
<div class="modal fade login-modal comn-modal" id="modalSignup" tabindex="2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i><img src="{% static '/images/icon-signup.svg' %}" alt="" /></i> Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="signup-form">
                    <div class="form-group">
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                            <input id="signUpFirstName" type="text" class="form-control" placeholder="First Name" />
                        </div>
                        <strong id="signUpFirstNameError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                            <input id="signUpLastName" type="text" class="form-control" placeholder="Last Name" />
                        </div>
                        <strong id="signUpLastNameError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-globe.svg' %}" alt="" /></i>
                            <select id="signUpCountryCode" class="form-control">
                                <option value="none">Country Code</option>
                                <option value="+1">United States +1</option>
                                <option value="+91">India +91</option>
                            </select>
                        </div>
                        <strong id="signUpCountryCodeError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-mobile.svg' %}" alt="" /></i>
                            <input id="signUpPhoneNumber" type="number" class="form-control" placeholder="Mobile Number" maxLength="10"/>
                        </div>
                        <strong id="SignUpPhoneNumberError" style="color:red;display: none;"></strong>
                    </div>

                    <div class="form-group">
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-email.svg' %}" alt="" /></i>
                            <input id="signUpEmail" type="email" class="form-control" placeholder="Email Address" />
                        </div>
                        <strong id="SignUpEmailError" style="color:red;display: none;"></strong>
                        <div class="inp-col">
                            <i><img src="{% static '/images/icon-lock.svg' %}" alt="" /></i>
                            <input id="signUpPassword" type="password" class="form-control" placeholder="Password" />
                        </div>
                        <strong id="SignUpPasswordError" style="color:red;display: none;"></strong>
                    </div>

                    <div class="modal-text">
                        By selecting <strong>Sign Up</strong> below, I agree to CentreStage’s <a href="#">Terms of Service, Payments Terms of Service, Privacy Policy,</a> and <a href="#">Nondiscrimination Policy</a>.
                    </div>
                    <button type="button" class="btn btn-primary btn-full btn-lg" id="signUpButton">Sign Up</button>
                    <div class="haveAc d-block">Already have an account? <a href="javascript:void(0);" id="openSignInButton">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Signup End-->

<!-- Modal OTP-->
<div class="modal fade login-modal comn-modal" id="modalOTP" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
            <i><img src="{% static '/images/login-icon.svg' %}" alt="" /></i>
            OTP Authentication
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="login-form">
            <div>Please enter the One Time Password (OTP) sent to your phone number</div>
            <div class="otp-inp">
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
                <input class="form-control otp-input" type="number"/>
            </div>
            <strong id="otpCodeError" style="color:red;display: none;"></strong>
            <button id="verifyOTPButton" type="button" class="btn btn-primary btn-full btn-lg">Sign In</button>
            <div class="haveAc">
                <span class="otp-time">Submit OTP in: 23</span> <span>Didn't get any OTP. <a href="#">Resend</a></span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal OTP End-->
<!-- Modal Lesson Notes -->
<div class="modal fade modal-upload" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="{% static 'images/close.svg' %}" alt="" />
        </button>
        <div class="modal-body verticalTabb">
            <div class="nav flex-column nav-pills tabb-left" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-device-tab" data-toggle="pill" href="#v-pills-device" role="tab" aria-controls="v-pills-device" aria-selected="true"><i><img src="{% static 'images/icon-laptop.svg' %}" alt="" /></i> My Device</a>
                <a class="nav-link" id="v-pills-link-tab" data-toggle="pill" href="#v-pills-link" role="tab" aria-controls="v-pills-link" aria-selected="false"><i><img src="{% static 'images/icon-link.svg' %}" alt="" /></i> Link (URL)</a>
                <a class="nav-link" id="v-pills-web-tab" data-toggle="pill" href="#v-pills-web" role="tab" aria-controls="v-pills-web" aria-selected="false"><i><img src="{% static 'images/icon-websearch.svg' %}" alt="" /></i> Web Search</a>
                <a class="nav-link" id="v-pills-facebook-tab" data-toggle="pill" href="#v-pills-facebook" role="tab" aria-controls="v-pills-facebook" aria-selected="false"><i><img src="{% static 'images/icon-facebook.svg' %}" alt="" /></i> Facebook</a>
                <a class="nav-link" id="v-pills-instagram-tab" data-toggle="pill" href="#v-pills-instagram" role="tab" aria-controls="v-pills-instagram" aria-selected="false"><i><img src="{% static 'images/icon-insta.svg' %}" alt="" /></i> Instagram</a>
                <a class="nav-link" id="v-pills-gd-tab" data-toggle="pill" href="#v-pills-gd" role="tab" aria-controls="v-pills-gd" aria-selected="false"><i><img src="{% static 'images/icon-gd.svg' %}" alt="" /></i> Google Drive</a>
            </div>
            <div class="tab-content tabb-right" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-device" role="tabpanel" aria-labelledby="v-pills-device-tab">
                <div class="tabselect-icon-row">
                    <img src="{% static 'images/icon-laptop.svg' %}" alt="" />
                </div>
                <div class="file-dropbox">
                    <input type="file" class="file-drop-inp" />
                    <div class="fileDrop-content">
                        <figure class="file-dropbox-icon">
                            <img src="{% static 'images/add-file.svg' %}" alt="" />
                        </figure>
                        <h2>Select Files to Upload</h2>
                        <span class="grayText">or Drag and Drop, Copy and Paste Files</span>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="v-pills-link" role="tabpanel" aria-labelledby="v-pills-link-tab">...</div>
                <div class="tab-pane fade" id="v-pills-web" role="tabpanel" aria-labelledby="v-pills-web-tab">...</div>
                <div class="tab-pane fade" id="v-pills-facebook" role="tabpanel" aria-labelledby="v-pills-facebook-tab">...</div>
                <div class="tab-pane fade" id="v-pills-instagram" role="tabpanel" aria-labelledby="v-pills-instagram-tab">...</div>
                <div class="tab-pane fade" id="v-pills-gd" role="tabpanel" aria-labelledby="v-pills-gd-tab">...</div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Modal Lesson Notes -->
