{% extends "base.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<div class="wrapper"> 
  {% include 'header.html' with user=user %}

  <div class="mid-sec pb-100 boarding-sec">
    <div class="container">
        <div class="board-process">
            <div class="board-num"><span class="active">03</span>/03</div>
            <span class="board-process-txt">Onboarding Process</span>
        </div>
        <div class="boarding-wrap">
        <div class="title-row"><h2>Welcome {{user.first_name}}</h2>
            <p>You're set! Go Ahead And Introduce Yourself To Your Students. Keep It Cool, Professional and Precise</p>
        </div>
        <div class="boarding-row">
            <div class="boarding-left board-stem-3">
                <div class="upload-video-wrap">
                    <input type="file">
                    <div class="video-up-content">
                        <div class="add-video"><img src="{% static '/images/add-video.svg' %}" alt="" /></div>
                        <div class="upVideo-txt">Upload Intro Video</div>
                        <a href="#">Sample Videos</a>
                    </div>
                </div>
                <div class="video-size-alert">Maximum video size should be 12MB</div>
                <div class="btn-area"> 
                    <button type="button" class="btn btn-primary btn-lg btn-theme">Finish</button>
                </div>
            </div>
            <div class="boarding-right boarding-graphics">
                <img src="{% static '/images/board-3.svg' %}" alt="" />
            </div>
        </div>
    </div>
    </div>
  </div>
  {% include 'footer.html' %}

  </div>

{% endblock %}

{% block script %}
    <script src="{% static '/js/onboarding.js' %}" type="text/javascript"></script> 
{% endblock %}
