{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static '/css/web/style.css' %}" rel="stylesheet">
<link href="{% static '/css/web/media.css' %}" rel="stylesheet">
<style>
   ul {
    list-style: inherit;
    margin: 10px;
    padding: 15px;
   }
</style>
{% endblock %}

{% block content %}
<div class="wrapper inner-page">
    {% include 'plain_header.html' with user=user %}
    <div class="mid-sec">
        <div class="container">
            <h4>Connecting Zoom with Centrestage</h4>
            <ul>
                1. Create a new Centrestage account<br>
                2. During the sign up process, you will be asked to Connect your Zoom account. Click 'Connect Zoom'<br>
                3. Please enter your existing Zoom credentials and click Confirm<br><br>
            </ul>
            <h4>Disconnecting Zoom from Centrestage</h4>

            <ul>
                1. Login to your Centrestage Account using your credentials<br>
                2. Go to My Account -> Info<br>
                3. Click Disconnect on Zoom<br>
                4. Click Confirm<br>
            </ul>

            <h4>ZOOM USAGE</h4>
            <ul>
                ▪ Teachers, Trainers or Coaches on Centrestage can use the Zoom SDK integration to conduct their Live Online Lessons<br>
                ▪ Users can connect their existing Zoom accounts from within the Centrestage platform<br>
                ▪ Users will require creating a Zoom account in order to conduct their Live Lessons on Centrestage<br>
            </ul>

            <h4>UNINSTALLING CENTRESTAGE FROM YOUR ZOOM ACCOUNT</h4>
            <ul>
                ▪ Login to your Zoom Account and navigate to the Zoom App Marketplace<br>
                ▪ Click Manage -> Installed Apps or search for the Centrestage app<br>
                ▪ Click the Centrestage App<br>
                ▪ Click Uninstall<br>
            </ul>

            <h4>SUPPORT HOURS</h4>
            <p>10:00 am to 6:00 pm (IST) from Monday through Friday</p>
            <h4>1st RESPONSE SLA</h4>
            <p>48 hours</p>

            <h4>EMAIL SUPPORT</h4>
            <p>support@centrestage.live</p>
            <h4>PHONE SUPPORT</h4>
            <p>+91 93513 73829</p>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}

