<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    
    <title style="" >Vanguard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">


</head>
<body style="background-color:#FFFFFF;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
    
<table cellpadding="0" style="width:100%;height:100%;margin:0px;padding:0px;display:table;font-family: 'Open Sans', sans-serif;">

    <tr>
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="0" style="background: #fff; max-width: 700px">
                <tbody>
                    <tr>
                        <td>
                            <table cellspacing="15" style="border-bottom: 1px solid #2ABDF0; width: 100%">
                                <tr>
                                    <td>
                                        <img src="https://api.center-stage.online/static/images/center-stage-logo-large.svg" alt="" title="" />
                                    </td>
                                </tr>
                            </table>
                            <table cellspacing="0" style="width: 100%; padding: 0 25px 70px;">
                                <tr style="">
                                    <td style="padding: 20px 0; font-size: 17px;color: #3FC3F1; text-align: left; font-family: 'Open Sans', sans-serif; font-weight: 600">Hello</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color: #0D426A;font-size: 15px; line-height: 26px; margin: 0; margin-bottom: 20px;">You have been invited for a paid meeting by {{ teacher_name }}.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color: #0D426A;font-size: 15px; line-height: 26px; margin: 0; margin-bottom: 20px;">Meeting Link: {{ meeting_link }}.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px 0 20px;font-size: 17px;color: #3FC3F1; text-align: left; font-family: 'Open Sans', sans-serif; font-weight: 600">Team Centerstage</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

</body>




</html>