<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Center Stage</title>
</head>
<body>

    <table width="800" align="Center" cellpadding="0" cellspacing="0" style="padding: 15px;">
        <tr>
            <td style="border-bottom: solid 1px #E6E6E6; text-align: center;"><a href="#"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/CenterStage-BlackLogo.svg" alt="" ></a></td>
        </tr>
        <tr><td style="height: 35px;"></td></tr>
        <tr>
            <td style="border-bottom: solid 1px #E6E6E6; text-align: left; font-family: Arial, Helvetica, sans-serif; color: #000; font-weight: normal; padding-bottom:35px; line-height: 1.6;">
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">Hi Thomas,</p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">I’m Tanay, Co-founder and CEO at CentreStage.<br />
                    To be honest, I wish I had the power to teach, like you. Unfortunately I don’t. But what I can do is relentlessly support and cheer for you in this journey, every step of the way. </p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">I wanted to reach out personally and thank you for joining us — I am more than thrilled to have you on board. </p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">CentreStage was built with careful hands to drive a global mission — of empowering teachers to share their knowledge with the world. While playing by your rules. Yes, you heard that right. Your rules. All the way. </p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">With this step, you are now joining over 100 handpicked teachers in creating a powerful, indepedent education brand for yourselves. You are the first step towards changing students’ lives and as a result - our education ecosystem.</p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">I can’t wait to see what you create and teach every single week!<br />
                Should you have any questions or issues regarding CentreStage, or simply want to chat more, feel free to write in. I’ll make it a point to respond before you wake up next.</p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 20px; padding:0px; margin: 0 0 25px 0px; font-weight: normal;">To confirm and set up your account instantly, click the button below.</p>
                <a href="#" style="margin-top:20px; display: inline-block;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/button-confirm.png" alt="" /></a>
            </td>
        </tr>
        <tr>
            <td style="padding:20px 0px 20px 0px">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><a href="#"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/CenterStage-BlackLogo.svg" alt="" style="width:250px;" /></a></td>
                        <td style="text-align: right;">
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/whatsapp-black.svg" alt="" /></a>
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/telegram-black.svg" alt="" /></a>
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/telegram-black.svg" alt="" /></a>
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/facebook-black.svg" alt="" /></a>
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/linkedin-black.png" alt="" /></a>
                            <a href="#" style="margin-right: 10px;"><img src="https://centerstage-cdn.s3.ap-south-1.amazonaws.com/twitter-black.svg" alt="" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">
                            <a href="#" target="_blank" style="color: #13A0F0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-left: 15px;">Email Settings</a>
                            <a href="#" target="_blank" style="color: #13A0F0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-left: 15px;">Terms &amp; Conditions</a>
                            <a href="#" target="_blank" style="color: #13A0F0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-left: 15px;">Privacy Policy</a>
                            <a href="#" target="_blank" style="color: #13A0F0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-left: 15px;">Cancellation Policies</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>