{% load static %}

<div class="sidebar">
    <div class="logo-area">
        <a href="/"><img class="main-logo-img" src="{% static 'images/CenterStage-BlackLogo.svg' %}" alt="" /></a>
        <a href="#" class="close-btn"><img src="{% static 'images/closebtn.svg' %}" alt="close"></a>
    </div>
    <div class="sidebar-menu">
        <ul id="accordion">
        <li>
            <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#One" aria-expanded="true" aria-controls="One"><i><img src="{% static 'images/my_schedule.svg' %}" alt="" /></i>
                <span>My Schedule</span>
            </a>
            <ul id="One" class="collapse submenu {% if activeSection in 'upcomingsessions,pastsessions' %}show{% endif %}" data-parent="#accordion">
                <li><a href="{% url 'student-dashboard-schedules-upcoming-sessions' %}">- Upcoming Sessions {% if activeSection == 'upcomingsessions' %}<span class="badge-small"></span>{% endif %}</a></li>
                <li><a href="{% url 'student-dashboard-schedules-past-sessions' %}">- Past Sessions {% if activeSection == 'pastsessions' %}<span class="badge-small"></span>{% endif %}</a></li>
                {% comment %} <li class="{% if activeSection == 'calendar' %}active{% endif %}"><a href="#">- Calendar</a></li> {% endcomment %}
            </ul>
        </li>
        <li><a href="{% url 'student-dashboard-enrollments' %}"><i><img src="{% static 'images/my_lesson.svg' %}" alt="" /></i><span>My Enrolled Lessons {% if activeSection == 'lessons' %}<span class="badge-small"></span>{% endif %}</span></a></li>
        <li><a href="{% url 'student-dashboard-messages' %}"><i><img src="{% static 'images/my_message.svg' %}" alt="" /></i><span>My Messages {% if activeSection == 'messages' %}<span class="badge-small"></span>{% endif %}</span></a></li>
        <li>
            <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="Five"><i><img src="{% static 'images/my_ac.svg' %}" alt="" /></i>
                <span>My Account </span>
            </a>
            <ul id="Five" class="collapse submenu {% if activeSection in 'account-info,account-payment,account-alerts' %}show{% endif %}" data-parent="#accordion">
                <li><a href="{% url 'student-dashboard-account-info' %}">- Info {% if activeSection == 'account-info' %}<span class="badge-small"></span>{% endif %}</a></li>
                <li><a href="{% url 'student-dashboard-account-alerts' %}">- Alerts {% if activeSection == 'account-alerts' %}<span class="badge-small"></span>{% endif %}</a></li>
            </ul>
        </li>
        </ul>
    </div>
</div>