{% load static %}

<div class="cta-links-wrap">
    <ul class="cta-links">
        <li>
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="cta-link-icon"><img src="{% static 'images/icon-new-meeting.svg' %}" alt="" /></i>
            <span>New Meeting</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="createFreeMeeting">Free Meeting</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#paidMeeting">Paid Meeting</a>
            </div>
        </li>
        <li>
            <a href="{% url 'new-schedule' %}">
            <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
            <span>Schedule Meeting</span>
            </a>
        </li>
        <li>
            <a href="{% url 'new-lesson' %}">
            <i class="cta-link-icon"><img src="{% static 'images/icon-new-lesson.svg' %}" alt="" /></i>
            <span>New Lesson</span>
            </a>
        </li>
        <li class="p-coaching">
            <a href="#" data-toggle="modal" data-target="#pcoatching">
            <i class="cta-link-icon"><img src="{% static 'images/icon-personal-coaching.svg' %}" alt="" />
            <em class="check-green"><img src="{% static 'images/done.svg' %}" alt="" /></em>
            </i>
            <span>Personal Coaching</span>
            </a>
        </li>
    </ul>
</div>