{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboardmedia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'dashboard/modals.html' %}
<div class="wrapper-main">
   <div class="sidebar ">
      <div class="logo-area">
         <a href="/"><img class="main-logo-img" src="{% static 'images/CenterStage-WhiteLogo.svg' %}" alt="" /></a>
         <a href="#" class="close-btn"><img src="{% static 'images/closebtn.svg' %}" alt="close"></a>
      </div>
      <div class="sidebar-menu">
         <ul id="accordion">
            <li>
               <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#One" aria-expanded="true" aria-controls="One"><i><img src="{% static 'images/my_schedule.svg' %}" alt="" /></i><span>My Schedule</span></a>        
               <ul id="One" class="collapse submenu" data-parent="#accordion">
                  <li class="active"><a href="#">- Upcoming Sessions <span class="badge-small"></span></a></li>
                  <li><a href="#">- Past Sessions</a></li>
                  <li><a href="#">- Calendar</a></li>
               </ul>
            </li>
            <li><a href="#"><i><img src="{% static 'images/my_message.svg' %}" alt="" /></i><span>My Messages</span><span class="badge-small"></span></a></li>
            <li><a href="#"><i><img src="{% static 'images/my_lesson.svg' %}" alt="" /></i><span>My Lessons</span></a></li>
            <li><a href="#"><i><img src="{% static 'images/google_save.svg' %}" alt="" /></i><span>My Drive</span></a></li>
            <li><a href="#"><i><img src="{% static 'images/my_stats.svg' %}" alt="" /></i><span>My Stats</span></a></li>
            <li>
               <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="Five"><i><img src="{% static 'images/my_ac.svg' %}" alt="" /></i><span>My Account</span></a>
               <ul id="Five" class="collapse submenu" data-parent="#accordion">
                  <li><a href="#">- Info</a></li>
                  <li><a href="#">- Payments</a></li>
                  <li><a href="#">- Alerts</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
   <div class="main">
      <header class="header">
         <div class="container-fluid">
            <button type="button" class="toggle-menu sidebar-toggle"><img src="{% static 'images/menu-icon.svg' %}" alt="" /></button>
            <div class="header-prof-col">
               <figure class="header-prof-img"><img src="{% static 'images/user-img.png' %}" alt="" /></figure>
               <div class="header-prof-name">
                  <h3>{{user.get_full_name}}</h3>
                  <span class="desigation">{{user.teacher_profile_data.description}}</span>
               </div>
            </div>
            <div class="header-actions-col">
               <div class="header-actions-icon"><img src="{% static 'images/icon-switch-account.svg' %}" alt="" /></div>
               <div class="header-actions-icon notifications">
                  <div class="icon-notification">
                     <a href="#">
                     <span class="notifaction-badge">4</span>
                     <img src="{% static 'images/icon-notification.svg' %}" alt="">
                     </a>
                  </div>
               </div>
               <div class="header-actions-icon"><img src="{% static 'images/icon-doted.svg' %}" alt="" /></div>
            </div>
         </div>
      </header>
      <div class="main-content">
         <div class="cta-links-wrap">
            <ul class="cta-links">
               <li>
                  <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-new-meeting.svg' %}" alt="" /></i>
                  <span>New Meeting</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="#">Free Meeting</a>
                     <a class="dropdown-item" href="#" data-toggle="modal" data-target="#meeting">Paid Meeting</a>
                  </div>
               </li>
               <li>
                  <a href="#">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
                  <span>Schedule Meeting</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-new-lesson.svg' %}" alt="" /></i>
                  <span>New Lesson</span>
                  </a>
               </li>
               <li class="p-coaching">
                  <a href="#" data-toggle="modal" data-target="#pcoatching">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-personal-coaching.svg' %}" alt="" />
                  <em class="check-green"><img src="{% static 'images/done.svg' %}" alt="" /></em>
                  </i>
                  <span>Personal Coaching</span>
                  </a>
               </li>
            </ul>
         </div>
         <div class="admin-mid-sec container-fluid">
            <h2 class="title-2">My Lessons</h2>
            <div class="search-row">
               <div class="searchInp-col">
                  <img src="{% static 'images/icon-search.svg' %}" alt="" />
                  <input type="search" class="form-control" placeholder="Search Sessions" />
               </div>
               <div class="search-tags">
                  <a href="#" class="tag-link">One - on - One</a>
                  <a href="#" class="tag-link active">Group Lesson</a>
                  <a href="#" class="tag-link">Personal Coaching</a>
                  <a href="#" class="tag-link">Recent</a>
                  <a href="#" class="tag-link">Popular</a>
                  <a href="#" class="tag-link">Top Rated</a>
                  <a href="#" class="tag-link">A - Z</a>
                  <a href="#" class="tag-link">Z - A</a>
               </div>
            </div>
            <div class="searchresult-wrap lessons-wrap">
               <h2 class="lession-title">Core JAVA Development</h2>
               <div class="lessions-countDetail">
                  <ul class="lessions-countDetail-list">
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>$354.69</h4>
                           <h5>Total Earned</h5>
                        </div>
                        <span class="growth-text">Lorem ipsum 25.30% <i><img src="{% static 'images/arrow-up.png' %}" alt="" /></i> growth this month</span>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4><img src="{% static 'images/star-w.svg' %}" alt="" /> 4.8</h4>
                           <h5>Total Rating</h5>
                        </div>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>259</h4>
                           <h5>Sessions Conducted</h5>
                        </div>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <div class="crnt-studnt">
                              <h4>158</h4>
                              <div class="profimg-col">
                                 <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                                 <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                                 <div class="profimg-rounded"><img src="{% static 'images/user-img.png' %}" alt=""></div>
                              </div>
                           </div>
                           <h5>Current Students</h5>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="searchresult-row">
                  <div class="lession-col-left">
                     <img src="{% static 'images/lession-1.jpg' %}" alt="" />
                  </div>
                  <div class="lession-col-right">
                     <ul class="lessons-steps">
                        <li>
                           <i><img src="{% static 'images/live.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Total Sessions</h4>
                              <span>05 Sessions </span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/hour-glass.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Duration</h4>
                              <span>45 Minutes</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/webinar.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Type</h4>
                              <span>One - on - One</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/language.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Language</h4>
                              <span>Hosted in English</span>
                           </div>
                        </li>
                     </ul>
                     <div class="linerbtn-row">
                        <div class="lessonBtnCol">
                           <a href="#" class="dropdown-toggle btn-liner" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</a>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Edit Session</a>
                              <a class="dropdown-item" href="#">Manage in Zoom</a>
                           </div>
                        </div>
                        <div class="lessonBtnCol"><a href="#" class="btn-liner active">Share</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="searchresult-wrap lessons-wrap">
               <h2 class="lession-title">Core JAVA Development</h2>
               <div class="lessions-countDetail">
                  <ul class="lessions-countDetail-list">
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>$354.69</h4>
                           <h5>Total Earned</h5>
                        </div>
                        <span class="growth-text">Lorem ipsum 25.30% <i><img src="{% static 'images/arrow-up.png' %}" alt="" /></i> growth this month</span>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4><img src="{% static 'images/star-w.svg' %}" alt="" /> 4.8</h4>
                           <h5>Total Rating</h5>
                        </div>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>259</h4>
                           <h5>Sessions Conducted</h5>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="searchresult-row">
                  <div class="lession-col-left">
                     <img src="{% static 'images/lession-1.jpg' %}" alt="" />
                  </div>
                  <div class="lession-col-right">
                     <ul class="lessons-steps">
                        <li>
                           <i><img src="{% static 'images/live.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Total Sessions</h4>
                              <span>05 Sessions </span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/hour-glass.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Duration</h4>
                              <span>45 Minutes</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/webinar.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Type</h4>
                              <span>One - on - One</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/language.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Language</h4>
                              <span>Hosted in English</span>
                           </div>
                        </li>
                     </ul>
                     <div class="linerbtn-row">
                        <div class="lessonBtnCol">
                           <a href="#" class="dropdown-toggle btn-liner" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</a>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Edit Session</a>
                              <a class="dropdown-item" href="#">Manage in Zoom</a>
                           </div>
                        </div>
                        <div class="lessonBtnCol"><a href="#" class="btn-liner active">Share</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="searchresult-wrap lessons-wrap">
               <h2 class="lession-title">Core JAVA Development</h2>
               <div class="lessions-countDetail">
                  <ul class="lessions-countDetail-list">
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>$354.69</h4>
                           <h5>Total Earned</h5>
                        </div>
                        <span class="growth-text">Lorem ipsum 25.30% <i><img src="{% static 'images/arrow-up.png' %}" alt="" /></i> growth this month</span>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4><img src="{% static 'images/star-w.svg' %}" alt="" /> 4.8</h4>
                           <h5>Total Rating</h5>
                        </div>
                     </li>
                     <li>
                        <div class="lessions-countDetail-box">
                           <h4>259</h4>
                           <h5>Sessions Conducted</h5>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="searchresult-row">
                  <div class="lession-col-left">
                     <img src="{% static 'images/lession-1.jpg' %}" alt="" />
                  </div>
                  <div class="lession-col-right">
                     <ul class="lessons-steps">
                        <li>
                           <i><img src="{% static 'images/live.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Total Sessions</h4>
                              <span>05 Sessions </span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/hour-glass.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Duration</h4>
                              <span>45 Minutes</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/webinar.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Type</h4>
                              <span>One - on - One</span>
                           </div>
                        </li>
                        <li>
                           <i><img src="{% static 'images/language.png' %}" alt=""></i>
                           <div class="lessons-steps-text">
                              <h4>Session Language</h4>
                              <span>Hosted in English</span>
                           </div>
                        </li>
                     </ul>
                     <div class="linerbtn-row">
                        <div class="lessonBtnCol">
                           <a href="#" class="dropdown-toggle btn-liner" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</a>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Edit Session</a>
                              <a class="dropdown-item" href="#">Manage in Zoom</a>
                           </div>
                        </div>
                        <div class="lessonBtnCol"><a href="#" class="btn-liner active">Share</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<!-- custom scrollbar plugin -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
   (function($){
         $(window).on("load",function(){
            $("#mC-scroll").mCustomScrollbar({
               theme:"minimal"
            });
            $("#mC-scroll2").mCustomScrollbar({
               theme:"minimal"
         });
         });
      })(jQuery);
</script>
{% endblock %}
