{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static '/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static '/css/dashboardmedia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'dashboard/modals.html' %}
<div class="wrapper-main">
   <div class="sidebar ">
      <div class="logo-area">
         <a href="#"><img class="main-logo-img" src="{% static 'images/logo-main.svg' %}" alt="" /></a> 
         <a href="#" class="close-btn"><img src="{% static 'images/closebtn.svg' %}" alt="close"></a>
      </div>
      <div class="sidebar-menu">
         <ul id="accordion">
            <li>
               <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#One" aria-expanded="true" aria-controls="One"><i><img src="{% static 'images/my_schedule.svg' %}" alt="" /></i><span>My Schedule</span></a>        
               <ul id="One" class="collapse submenu" data-parent="#accordion">
                  <li class="active"><a href="#">- Upcoming Sessions <span class="badge-small"></span></a></li>
                  <li><a href="#">- Past Sessions</a></li>
                  <li><a href="#">- Calendar</a></li>
               </ul>
            </li>
            <li><a href="#"><i><img src="{% static 'images/my_message.svg' %}" alt="" /></i><span>My Messages</span><span class="badge-small"></span></a></li>
            <li><a href="#"><i><img src="{% static 'images/my_lesson.svg' %}" alt="" /></i><span>My Lessons</span></a></li>
            <li><a href="#"><i><img src="{% static 'images/google_save.svg' %}" alt="" /></i><span>My Drive</span></a></li>
            <li><a href="#"><i><img src="{% static 'images/my_stats.svg' %}" alt="" /></i><span>My Stats</span></a></li>
            <li>
               <a href="#" class="ac-link collapsed" data-toggle="collapse" data-target="#Five" aria-expanded="false" aria-controls="Five"><i><img src="{% static 'images/my_ac.svg' %}" alt="" /></i><span>My Account</span></a>
               <ul id="Five" class="collapse submenu" data-parent="#accordion">
                  <li><a href="#">- Info</a></li>
                  <li><a href="#">- Payments</a></li>
                  <li><a href="#">- Alerts</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
   <div class="main">
      <header class="header">
         <div class="container-fluid">
            <button type="button" class="toggle-menu sidebar-toggle"><img src="{% static 'images/menu-icon.svg' %}" alt="" /></button>
            <div class="header-prof-col">
               <figure class="header-prof-img"><img src="{% static 'images/user-img.png' %}" alt="" /></figure>
               <div class="header-prof-name">
                  <h3>Thomas Edward</h3>
                  <span class="desigation">Web Developer and JAVA Expert</span>
               </div>
            </div>
            <div class="header-actions-col">
               <div class="header-actions-icon"><img src="{% static 'images/icon-switch-account.svg' %}" alt="" /></div>
               <div class="header-actions-icon notifications">
                  <div class="icon-notification">
                     <a href="#">
                     <span class="notifaction-badge">4</span>
                     <img src="{% static 'images/icon-notification.svg' %}" alt="">
                     </a>
                  </div>
               </div>
               <div class="header-actions-icon"><img src="{% static 'images/icon-doted.svg' %}" alt="" /></div>
            </div>
         </div>
      </header>
      <div class="main-content">
         <div class="cta-links-wrap">
            <ul class="cta-links">
               <li>
                  <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-new-meeting.svg' %}" alt="" /></i>
                  <span>New Meeting</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="#">Free Meeting</a>
                     <a class="dropdown-item" href="#" data-toggle="modal" data-target="#meeting">Paid Meeting</a>
                  </div>
               </li>
               <li>
                  <a href="#">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-schedule-meeting.svg' %}" alt="" /></i>
                  <span>Schedule Meeting</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-new-lesson.svg' %}" alt="" /></i>
                  <span>New Lesson</span>
                  </a>
               </li>
               <li class="p-coaching">
                  <a href="#" data-toggle="modal" data-target="#pcoatching">
                  <i class="cta-link-icon"><img src="{% static 'images/icon-personal-coaching.svg' %}" alt="" />
                  <em class="check-green"><img src="{% static 'images/done.svg' %}" alt="" /></em>
                  </i>
                  <span>Personal Coaching</span>
                  </a>
               </li>
            </ul>
         </div>
         <div class="admin-mid-sec container-fluid">
            <h2 class="title-2">Statistics</h2>
            <div class="searchresult-wrap statistics-wrap text-center">
               <div class="statistics-graphics">
                  <img src="{% static 'images/web-visit-graphics.svg' %}" alt="" />
               </div>
               <h3 class="title-3">Page Visits</h3>
               <div class="statistics-reports">
                  <ul class="statistics-list">
                     <li class="active">
                        <div class="statistics-box">
                           <h4>243,097</h4>
                           <h5>All Time</h5>
                        </div>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>24300</h4>
                           <h5>This Year</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 25.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>4361</h4>
                           <h5>This Month</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 42.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>243</h4>
                           <h5>This Week</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 12.30%</span>
                     </li>
                     <li class="">
                        <a href="#" class="statistics-btn">Go To<br />My Page</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="searchresult-wrap statistics-wrap text-center">
               <div class="statistics-graphics">
                  <img src="{% static 'images/earning-graphics.svg' %}" alt="" />
               </div>
               <h3 class="title-3">Earnings</h3>
               <div class="statistics-reports">
                  <ul class="statistics-list">
                     <li class="active">
                        <div class="statistics-box">
                           <h4>243,097</h4>
                           <h5>All Time</h5>
                        </div>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>24300</h4>
                           <h5>This Year</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 25.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>4361</h4>
                           <h5>This Month</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 42.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>243</h4>
                           <h5>This Week</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 12.30%</span>
                     </li>
                     <li class="">
                        <a href="#" class="statistics-btn">Go To<br />My Page</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="searchresult-wrap statistics-wrap text-center">
               <div class="statistics-graphics">
                  <img src="{% static 'images/video2.svg' %}" alt="" />
               </div>
               <h3 class="title-3">Lesson Watch Time</h3>
               <div class="statistics-reports">
                  <ul class="statistics-list">
                     <li class="active">
                        <div class="statistics-box">
                           <h4>243,097</h4>
                           <h5>All Time</h5>
                        </div>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>24300</h4>
                           <h5>This Year</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 25.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>4361</h4>
                           <h5>This Month</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 42.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>243</h4>
                           <h5>This Week</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 12.30%</span>
                     </li>
                     <li class="">
                        <a href="#" class="statistics-btn">Go To<br />My Page</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="searchresult-wrap statistics-wrap text-center">
               <div class="statistics-graphics">
                  <img src="{% static 'images/lesson-created-graphics.svg' %}" alt="" />
               </div>
               <h3 class="title-3">Lessons Created</h3>
               <div class="statistics-reports">
                  <ul class="statistics-list">
                     <li class="active">
                        <div class="statistics-box">
                           <h4>243,097</h4>
                           <h5>All Time</h5>
                        </div>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>24300</h4>
                           <h5>This Year</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 25.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>4361</h4>
                           <h5>This Month</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 42.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>243</h4>
                           <h5>This Week</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 12.30%</span>
                     </li>
                     <li class="">
                        <a href="#" class="statistics-btn">Go To<br />My Page</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="searchresult-wrap statistics-wrap text-center">
               <div class="statistics-graphics">
                  <img src="{% static 'images/student-number-graphics.svg' %}" alt="" />
               </div>
               <h3 class="title-3">Number of Students</h3>
               <div class="statistics-reports">
                  <ul class="statistics-list">
                     <li class="active">
                        <div class="statistics-box">
                           <h4>243,097</h4>
                           <h5>All Time</h5>
                        </div>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>24300</h4>
                           <h5>This Year</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 25.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>4361</h4>
                           <h5>This Month</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 42.30%</span>
                     </li>
                     <li class="">
                        <div class="statistics-box">
                           <h4>243</h4>
                           <h5>This Week</h5>
                        </div>
                        <span class="growth-text"><i><img src="{% static 'images/arrow-up.png' %}" alt=""></i> 12.30%</span>
                     </li>
                     <li class="">
                        <a href="#" class="statistics-btn">Go To<br />My Page</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}